<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="TestSmsDBConnectionString" connectionString="Data Source=CAI-PC\SQLEXPRESS;Initial Catalog=TestSmsDB;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />
    <add name="mstonConnectionString" connectionString="Data Source=CAI-PC\SQLEXPRESS;Initial Catalog=mston;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="mstonConnectionString" value="server=127.0.0.1,1384;database=mston;uid=sa;pwd=sa"/>
  </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
