<?xml version="1.0" encoding="utf-8"?>
<email>
  <!--邮件组件设置,current设置只能为smtp或jmail-->
  <setting current="smtp">
    <parameter host="smtp.ym.163.com" port="25" from="service@jusns.com" username="service@jusns.com" password="s431273s" enablessl="false" />
  </setting>
  <matter>
    <!--密码找回-->
    <retrievepwd>
      <![CDATA[
          <div style="background-color:#fff;border:1px solid #62BBDD;font-size:12px;color:#666666;line-height:28px;padding:8px 10px 30px 10px;width:780px;">
                <b style="font-size:14px;padding-bottom:8px;">亲爱的{UserName}：</b>
                <li>欢迎使用找回密码功能，也非常感谢您能使用真实有效的Email注册。</li>
                <li>你在{SiteName}申请了重设密码，请点击下面的链接，然后根据页面提示完成密码重设。</li>
                <li><a href="{Url}" target="_blank">点击修改密码</a></li>
                <li>如果点击以上链接失败，您可以将此链接复制到您的浏览器地址栏中：<span style="color:blue;">{Url}</span></li>
                <li>邮件来自站点：{SiteName}(<a href=" http://{Domain}" target="_blank">{Domain}</a>)</li>
        </div>
      ]]>
    </retrievepwd>
    <!--密码结束-->
    <!--注册-->
    <register>
      <![CDATA[
          <div style="background-color:#fff;border:1px solid #62BBDD;font-size:12px;color:#666666;line-height:28px;padding:8px 10px 30px 10px;width:780px;">
                <b style="font-size:14px;padding-bottom:8px;">亲爱的{UserName}：</b>
                <li>欢迎您加入{SiteName}，也非常感谢您能使用真实有效的Email注册。</li>
                <li><a href="{Url}" target="_blank">请点击这里以完成邮件确认</a>，马上进入{SiteName}来感受我们为您提供的安全、专业而人性化的服务。</li>
                <li>如果点击以上链接失败，您可以将此链接复制到您的浏览器地址栏中：<span style="color:blue;">{Url}</span></li>
                <li>再次感谢您加入{SiteName}，快点登陆并邀请您的好友也一同加入，迅速搭建您的人际网络吧！</li>
                <li>邮件来自站点：{SiteName}(<a href=" http://{Domain}" target="_blank">{Domain}</a>)</li>
        </div>
    ]]></register>
    <!--注册-->
    <!--修改电子邮件后，激活内容-->
    <modifyemail>
      <![CDATA[
          <div style="background-color:#fff;border:1px solid #62BBDD;font-size:12px;color:#666666;line-height:28px;padding:8px 10px 30px 10px;width:780px;">
                <b style="font-size:14px;padding-bottom:8px;">尊敬的{UserName}邮件用户：</b>
                <li>你在{SiteName}修改了电子邮件，请按以下方式激活，激活后，新电子邮件即可使用。</li>
                <li><a href="{Url}" target="_blank">请点击这里以完成邮件确认</a>，马上进入{SiteName}来感受我们为您提供的安全、专业而人性化的服务。</li>
                <li>如果点击以上链接失败，您可以将此链接复制到您的浏览器地址栏中：<br /><span style="color:blue;">{Url}</span></li>
                <li>再次感谢您加入{SiteName}，快点登陆并邀请您的好友也一同加入，迅速搭建您的人际网络吧！</li>
                <li>邮件来自站点：{SiteName}(<a href=" http://{Domain}" target="_blank">{Domain}</a>)</li>
        </div>
    ]]>   
    </modifyemail>
    <!--修改电子邮件后，激活内容结束-->

    <!--激活-->
    <emailactive>
      <![CDATA[
          <div style="background-color:#fff;border:1px solid #62BBDD;font-size:12px;color:#666666;line-height:28px;padding:8px 10px 30px 10px;width:780px;">
                <b style="font-size:14px;padding-bottom:8px;">尊敬的{UserName}邮件用户：</b>
                <li>欢迎激活电子邮件，也非常感谢您能使用真实有效的Email注册。</li>
                <li><a href="{Url}" target="_blank">请点击这里以完成邮件确认</a>，马上进入{SiteName}来感受我们为您提供的安全、专业而人性化的服务。</li>
                <li>如果点击以上链接失败，您可以将此链接复制到您的浏览器地址栏中：<br /><span style="color:blue;">{Url}</span></li>
                <li>再次感谢您加入{SiteName}，快点登陆并邀请您的好友也一同加入，迅速搭建您的人际网络吧！</li>
                <li>邮件来自站点：{SiteName}(<a href=" http://{Domain}" target="_blank">{Domain}</a>)</li>
        </div>
    ]]>
    </emailactive>
    <!--激活结束-->
    <invite>
      <![CDATA[
          <div style="background-color:#fff;border:1px solid #62BBDD;font-size:12px;color:#666666;line-height:28px;padding:8px 10px 30px 10px;width:780px;">
                <b style="font-size:14px;padding-bottom:8px;">Hi，我是{UserName}，在{SiteName}上建立了个人主页，邀请你也加入并成为我的好友。</b>
                <li>{Content}</li>
                <li>{InviteContent}</li>
                <li><a href="{Url}" target="_blank">请点击这里注册帐号</a></li>
                <li>如果点击以上链接失败，您可以将此链接复制到您的浏览器地址栏中：<span style="color:blue;">{Url}</span></li>
                <li>邮件来自站点：{SiteName}(<a href=" http://{RootURL}" target="_blank">{Domain}</a>)</li>
        </div>
      ]]></invite>
  </matter>
</email>
