<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>程序安装 - 创建数据库</title>
    <style type="text/css">
        BODY { MARGIN-TOP:20px; BACKGROUND-COLOR: #F7F7F7;font-size:12px;line-height:22px; }
        BODY { FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Tahoma, Verdana }
        TD { FONT-SIZE: 14px; COLOR: #333333; FONT-FAMILY: Tahoma, Verdana }
        TH { FONT-SIZE: 14px; COLOR: #333333; FONT-FAMILY: Tahoma, Verdana }
        A { COLOR: #000000; TEXT-DECORATION: none }
        INPUT { BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #c0c0c0; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #c0c0c0; PADDING-BOTTOM: 3px; COLOR: #000000; BORDER-TOP-COLOR: #c0c0c0; PADDING-TOP: 3px; FONT-FAMILY: Tahoma, Verdana, "宋体"; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #c0c0c0 }
        TEXTAREA { BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #c0c0c0; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #c0c0c0; PADDING-BOTTOM: 1px; COLOR: #000000; BORDER-TOP-COLOR: #c0c0c0; PADDING-TOP: 1px; FONT-FAMILY: Tahoma, Verdana, "宋体"; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #c0c0c0 }
    </style>
    <script type="text/javascript" src="$webpath/library/js/jquery.min.js"></script>
    <script type="text/javascript" src="$webpath/library/js/public.js"></script>
    <script type="text/javascript" src="$webpath/library/js/common.js"></script>
    <script type="text/javascript" src="$webpath/library/js/centerwindow.js"></script>
</head>
<body>
    <form action="" method="post">
     <table width="700" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#666666">
        <tr>
            <td bgcolor="#ffffff">
                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="2" bgcolor="#333333">
                            <table width="100%" border="0" cellspacing="0" cellpadding="8">
                                <tr>
                                    <td style="background:url($webpath/template/images/jusnsbg.jpg) repeat-x">
                                        <font color="#ffffff">欢迎安装 $programe
                                        </font>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="180" valign="top">
                            <img src="$webpath/template/images/jusns.jpg" />
                        </td>
                        <td width="520" valign="top">
                            <br>
                            <br>
                            <table id="Table2" cellspacing="1" cellpadding="1" width="90%" align="center" border="0">
                                <tr>
                                    <td style="padding-top:20px;">
                                        #if($errors)<p style="color:Red;">数据库地址，数据库名称，数据库用户名必须填写</p>#end
                                        <p><em style="width:120px;float:left;font-style:normal;">数据库地址：</em><input id="databaseaddress" name="databaseaddress" value="(local)" style="width:200px;" type="text" /></p>
                                        <p><em style="width:120px;float:left;font-style:normal;">数据库名称：</em><input id="databasename" name="databasename" value="JuSNS20" style="width:200px;" type="text" /></p>
                                        <p><em style="width:120px;float:left;font-style:normal;">数据库用户名：</em><input id="databaseusername" name="databaseusername" value="sa" style="width:200px;" type="text" /></p>
                                        <p><em style="width:120px;float:left;font-style:normal;">数据库密码：</em><input id="databasepassword" name="databasepassword" value="" style="width:200px;" type="text" /></p>
                                        #if($resultstr)<p style="color:Red;">$resultstr</p>#end
                                    </td>
                                </tr>
                            </table>
                            <p>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;</td>
                        <td>
                            <table width="90%" border="0" cellspacing="0" cellpadding="8">
                                <tr>
                                    <td align="right">
                                        <input type="button" value="创建数据库" onclick="creatdata();"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </form>
</body>
</html>
<script type="text/javascript">
    function creatdata()
    {
        var  databaseaddress=jQuery("#databaseaddress").val();
        var  databasename=jQuery("#databasename").val();
        var  databaseusername=jQuery("#databaseusername").val();
        var  databasepassword=jQuery("#databasepassword").val();
        if(databaseaddress=="")
        {
            alert("请填写SQL数据库IP地址");return;
        }
        if(databasename=="")
        {
            alert("请填写SQL数据库名称");return;
        }
        if(databaseusername=="")
        {
            alert("请填写SQL数据库用户名登录名称");return;
        }
        var formcontent = " &nbsp; <img src=\"image/loading.gif\" align=\"absmiddle\" />&nbsp; 正在生成SQL数据库...请不要刷新本页面！";
        var W = WinTip("创建数据库", formcontent);
        W.HasBottom=false;
        W.Create();    
        
        jQuery.get("creatdatabase"+ExName+"", { act:"set",databaseaddress:databaseaddress,databasename:databasename,databaseusername:databaseusername,databasepassword:databasepassword, param:Math.random() }, 
          function(msg)
          {
                var W = WinTip("操作结果", msg);
                if(msg.indexOf("sqlpro")>0)
                {
                    W.HasBottom=false;
                }
                W.Create();    
          }
        );            
    }
</script>