<?xml version="1.0" encoding="utf-8" ?>
<picture>
  <!--以下不能修改，只能修改width和height，修改将导致程序出错！-->
  <!--originaldir表示原图存放目录-->
  <portrait server="~" originaldir="uploads/photo/w0">
    <!--目录地址,宽度,高度,0,表示此设置不起作用,优先:0表示宽度优先,否则表示高度优先-->
    <breviary name="0"  directory="uploads/head/a0" width="25" height="25" priority="1"></breviary>
    <breviary name="1"  directory="uploads/head/x0" width="48" height="48" priority="1"></breviary>
    <breviary name="2" directory="uploads/head/y0" width="120" height="" priority="1"></breviary>
    <breviary name="3" directory="uploads/head/z0" width="380" height="" priority="1"></breviary>
  </portrait>
  <!--相册-->
  <photo server="~" originaldir="uploads/photo/a0">
    <breviary name="0" directory="uploads/photo/b0" width="60" height="" priority="1"></breviary>
    <breviary name="1" directory="uploads/photo/c0" width="100" height="" priority="1"></breviary>
    <breviary name="2" directory="uploads/photo/d0" width="150" height="" priority="1"></breviary>
    <breviary name="3" directory="uploads/photo/e0" width="200" height="" priority="1"></breviary>
    <breviary name="4" directory="uploads/photo/f0" width="300" height="" priority="1"></breviary>
  </photo>
  <!--日志照片-->
  <blogimg server="~" originaldir="" breviary=""></blogimg>
  <!--群组照片-->
  <group server="~" originaldir="uploads/a0">
    <breviary name="0"  directory="uploads/group/b0" width="48" height="0" priority="1"></breviary>
    <breviary name="1"  directory="uploads/group/c0" width="60" height="0" priority="1"></breviary>
    <breviary name="2"  directory="uploads/group/d0" width="80" height="0" priority="1"></breviary>
    <breviary name="3"  directory="uploads/group/e0" width="100" height="0" priority="1"></breviary>
    <breviary name="4"  directory="uploads/group/f0" width="200" height="0" priority="1"></breviary>
  </group>
  <!--app图片-->
  <app server="~" originaldir="uploads/app" ></app>
  <!--远程服务密码-->
  <soappass>Jusns</soappass>
</picture>