/* -----------------------------------------------
	Title:SWFUpload Style
	Description: SWFUpload 样式文件
	Date:2010.05.05
----------------------------------------------- */

.swfUpload_progressWrapper
{
	width: 357px;
	overflow: hidden;
}

.swfUpload_progressContainer
{
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7; /*overflow: hidden;*/
}
/* Message */
.swfUpload_message
{
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.swfUpload_red
{
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.swfUpload_green
{
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
.swfUpload_blue
{
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}

.swfUpload_progressName
{
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.swfUpload_progressBarInProgress, .swfUpload_progressBarComplete, .swfUpload_progressBarError
{
	font-size: 0;
	width: 0%;
	height: 5px;
	background-color: blue;
	margin-top: 12px;
}

.swfUpload_progressBarComplete
{
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.swfUpload_progressBarError
{
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.swfUpload_progressBarStatus
{
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}

a.swfUpload_progressCancel
{
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(/swfupload/images/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

a.swfUpload_progressCancel:hover
{
	background-position: 0px 0px;
}


/* -- SWFUpload Object Styles ------------------------------- */
.swfupload
{
	vertical-align: top;
}
.swfUpload_progressBarInProgress_BottomMode
{
	background-color: blue;
	text-align: center;
	color: White;
}
.divFileProgressContainer_BottomMode
{
	border: #d6d6d6 1px solid;
	width: 150px;
	padding: 5px 5px 5px 5px;
	margin: 5px 0 5px 0;
}

/*END*/















body, dl, dt, dd, ul
{
	margin: 0;
	padding: 0;
}
li, dl
{
	list-style-type: none;
}
.swfupload_main a:link, .swfupload_main a:visited
{
	text-decoration: none;
	color: #333;
}
.swfupload_main a:hover
{
	text-decoration: underline;
	color: #0657b2;
}



.swfupload_li
{
	list-style: none;
}
.swfupload_header
{
	font: normal 100 12px simsun;
	width: 100%;
	height: 22px;
	line-height: 22px;
	border-bottom: 1px dotted #d4dcdf;
	color: #334f67;
	background: #f5f5f5;
	overflow: hidden;
}
.swfupload_pic_name, .swfupload_pic_state, .swfupload_pic_option, .swfupload_pic_percent
{
	float: left;
}
.swfupload_pic_name
{
	position: relative;
	width: 35%;
	text-indent: 15px;
}
.swfupload_pic_state
{
	width: 20%;
	text-align: center;
}
.swfupload_pic_option
{
	width: 25%;
	overflow: hidden;
}
.swfupload_pic_percent
{
	width: 18%;
	text-indent: 20px;
	text-align: center;
}


.swfupload_main
{
	width: 100%;
	zoom: 1;
	font: normal 100 12px simsun;
}
.swfupload_main li
{
	padding: 0;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px dotted #d4dcdf;
}
.swfupload_main .swfupload_pic_name
{
	position: relative;
	z-index: 2;
}
.swfupload_main .swfupload_pic_name a, .swfupload_main .swfupload_pic_name em
{
	display: block;
	height: 22px;
	width: 160px;
	overflow: hidden;
}
.swfupload_main .swfupload_pic_name span
{
	position: absolute;
	bottom: 24px;
	left: 0;
	z-index: 5; /*display:none;*/
}
.swfupload_main .swfupload_pic_name span img
{
	border: 1px solid #b5ce85;
}


.uploadpic
{
	background: #f5f5f5;
	padding: 10px;
	margin: auto;
}
.upbatch
{
	/*clear:both;*/
	margin-top: -1px;
	padding: 10px;
	border-top: 1px solid #d4e3b3;
	background: #fff;
	zoom: 1;
}

a.swfupload_pic_del
{
	margin: 6px auto 0px;
	width: 17px;
	display: block;
	background: url(/swfupload/images/icon.gif) no-repeat 5px -475px;
	height: 0px;
	overflow: hidden;
	padding-top: 16px;
}
