<?xml version="1.0" encoding="utf-8"?>
<!--
    注意: 除了手动编辑此文件以外，您还可以使用 Web 管理工具来
    配置应用程序的设置。
    可以使用 Visual Studio 中的“网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在    machine.config.comments 中，
   该文件通常位于
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <appSettings>
    <!--根目录路径-->
    <add key="tp_adminRoot" value="admin/templates/default/"></add>
    <!--主模版路径-->
    <add key="tp_adminLink" value="util_link.html"></add>
    <add key="tp_adminIndex" value="index.html"></add>
    <!--主模版路径-->
    <add key="tp_adminULeft" value="util_left.html"></add>
    <add key="tp_adminURight" value="util_right.html"></add>
    <add key="tp_adminUCenter" value="util_center.html"></add>
    <add key="tp_adminUFoot" value="util_foot.html"></add>
    <add key="tp_adminUHead" value="util_head.html"></add>
    <!--独有模版路径-->
    <add key="tp_adminLogin" value="login.html"></add>
    <add key="tp_adminLoginLink" value="login_link.html"></add>
    <add key="tp_adminNews" value="news.html"></add>
    <add key="tp_adminUser" value="user.html"></add>
    <add key="tp_adminType" value="type.html"></add>
    <add key="tp_adminRoles" value="roles.html"></add>
    <add key="tp_adminNews" value="news.html"></add>
    <add key="tp_adminUser" value="user.html"></add>
    <add key="tp_adminType" value="type.html"></add>
    <add key="tp_adminRoles" value="roles.html"></add>
    <add key="tp_adminNewsUpdate" value="news_update.html"></add>
    <add key="tp_adminUserUpdate" value="user_update.html"></add>
    <add key="tp_adminTypeUpdate" value="type_update.html"></add>
    <add key="tp_adminRolesUpdate" value="roles_update.html"></add>
    <!--独有模版路径
    <add key="filter_root" value="/"/>
    <add key="filter_index" value="index.html"/>
    <add key="filter_about" value="about.html"/>
    <add key="filter_connect" value="connect.html"/>
    <add key="filter_joinUs" value="joinUs.html"/>-->
  </appSettings>
    <connectionStrings/>
    <system.web>

    </system.web>
</configuration>
