<?xml version="1.0" encoding="utf-8" ?>
<security>
  <user key="1A,2B,3C,4D,5E,6F,13,47" iv="01,12,23,34,45,56,78,89" separator="$" />
  <admin key="F1,E2,D3,C4,B5,A6,97,88" iv="9A,AB,BC,CD,DE,EF,FD,EC" separator="$" />
  <invitereg key="02,12,A3,D1,BA,54,2A,8C" iv="9C,AE,57,87,56,28,66,A7" separator="$" />
  <userapp key="F1,E2,D3,C4,B5,A6,97,88" iv="9A,AB,BC,CD,DE,EF,FD,EC" separator="$" />
</security>