<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DeepEarth.Provider.VirtualEarth.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DeepEarth.Provider.VirtualEarth.Services.Properties.Settings>
            <setting name="DeepEarth_Provider_VirtualEarth_Services_TokenWebReference_CommonService"
                serializeAs="String">
                <value>http://common.virtualearth.net/find-30/common.asmx</value>
            </setting>
        </DeepEarth.Provider.VirtualEarth.Services.Properties.Settings>
    </applicationSettings>
</configuration>