<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>首页</title>
    <!--[$util_link.html]-->
</head>
<body>
<form id="form1" name="form1" method="post" action="Default.aspx">
<div class="content">
<div class="header"><!--[$util_head.html]--></div>

<div class="contenter">
<div class="left"><!--[$util_left.html]--></div>
<ul class="right"><!--[$data]--></ul>
</div>
<div class="footer">
<!--[$util_foot.html]-->
</div>
</div>
</form>
</body>
</html>