<table id="navgation" width="100%" height="280" border="0" cellpadding="0" cellspacing="0" bgcolor="#EEF2FB">
  <tr>
    <td width="182" valign="top"><div id="container">
      <h1 class="type"><a href="javascript:void(0)">网站常规管理</a></h1>
      <div class="content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="images/menu_topline.gif" width="182" height="5" /></td>
          </tr>
        </table>
        <ul class="MM">
          <li><a href="http://www.865171.cn" target="main">基本设置</a></li>
          <li><a href="http://www.865171.cn" target="main">邮件设置</a></li>
          <li><a href="http://www.865171.cn" target="main">广告设置</a></li>
          <li><a href="http://www.865171.cn" target="main">114增加</a></li>
          <li><a href="http://www.865171.cn" target="main">114管理</a></li>
          <li><a href="http://www.865171.cn" target="main">联系方式</a></li>
          <li><a href="http://www.865171.cn" target="main">汇款方式</a></li>
          <li><a href="http://www.865171.cn" target="main">增加链接</a></li>
          <li><a href="http://www.865171.cn" target="main">管理链接</a></li>
        </ul>
      </div>
      <h1 class="type"><a href="javascript:void(0)">栏目分类管理</a></h1>
      <div class="content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="images/menu_topline.gif" width="182" height="5" /></td>
          </tr>
        </table>
        <ul class="MM">
          <li><a href="http://www.865171.cn" target="main">信息分类</a></li>
          <li><a href="http://www.865171.cn" target="main">信息类型</a></li>
          <li><a href="http://www.865171.cn" target="main">资讯分类</a></li>
          <li><a href="http://www.865171.cn" target="main">地区设置</a></li>
          <li><a target="main" href="http://www.865171.cn">市场联盟</a></li>
          <li><a href="http://www.865171.cn" target="main">商家类型</a></li>
          <li><a href="http://www.865171.cn" target="main">商家星级</a></li>
          <li><a href="http://www.865171.cn" target="main">商品分类</a></li>
          <li><a href="http://www.865171.cn" target="main">商品类型</a></li>
        </ul>
      </div>
      <h1 class="type"><a href="javascript:void(0)">栏目内容管理</a></h1>
      <div class="content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="images/menu_topline.gif" width="182" height="5" /></td>
          </tr>
        </table>
        <ul class="MM">
		  <li><a href="http://www.865171.cn" target="main">信息管理</a></li>
          <li><a href="http://www.865171.cn" target="main">张贴管理</a></li>
          <li><a href="http://www.865171.cn" target="main">增加商家</a></li>
          <li><a href="http://www.865171.cn" target="main">管理商家</a></li>
          <li><a href="http://www.865171.cn" target="main">发布资讯</a></li>
          <li><a href="http://www.865171.cn" target="main">资讯管理</a></li>
          <li><a href="http://www.865171.cn" target="main">市场联盟</a></li>
          <li><a href="http://www.865171.cn" target="main">名片管理</a></li>
          <li><a href="http://www.865171.cn" target="main">商城管理</a></li>
          <li><a href="http://www.865171.cn" target="main">商品管理</a></li>
          <li><a href="http://www.865171.cn" target="main">商城留言</a></li>
          <li><a href="http://www.865171.cn" target="main">商城公告</a></li>
        </ul>
      </div>
      <h1 class="type"><a href="javascript:void(0)">注册用户管理</a></h1>
      <div class="content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="images/menu_topline.gif" width="182" height="5" /></td>
          </tr>
        </table>
        <ul class="MM">
          <li><a href="http://www.865171.cn" target="main">会员管理</a></li>
          <li><a href="http://www.865171.cn" target="main">留言管理</a></li>
          <li><a href="http://www.865171.cn" target="main">回复管理</a></li>
          <li><a href="http://www.865171.cn" target="main">订单管理</a></li>
          <li><a href="http://www.865171.cn" target="main">举报管理</a></li>
          <li><a href="http://www.865171.cn" target="main">评论管理</a></li>
        </ul>
      </div>
  
        <h1 class="type"><a href="javascript:void(0)">其它参数管理</a></h1>
      <div class="content">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="images/menu_topline.gif" width="182" height="5" /></td>
            </tr>
          </table>
        <ul class="MM">
            <li><a href="http://www.865171.cn" target="main">管理设置</a></li>
          <li><a href="http://www.865171.cn" target="main">主机状态</a></li>
          <li><a href="http://www.865171.cn" target="main">攻击状态</a></li>
          <li><a href="http://www.865171.cn" target="main">登陆记录</a></li>
          <li><a href="http://www.865171.cn" target="main">运行状态</a></li>
        </ul>
      </div>
   
        <script type="text/javascript">
      /*  

  * 根据元素clsssName得到元素集合  

  * @param fatherId 父元素的ID，默认为document  

  * @tagName 子元素的标签名  

  * @className 用空格分开的className字符串  

  */ 

 function getElementsByClassName(fatherId,tagName,className){  

     node = fatherId&&document.getElementById(fatherId) || document;  

     tagName = tagName || "*";  

     className = className.split(" ");  

     var classNameLength = className.length;  

     for(var i=0,j=classNameLength;i<j;i++){  

         //创建匹配类名的正则  

         className[i]= new RegExp("(^|\\s)" + className[i].replace(/\-/g, "\\-") + "(\\s|$)");   

     }  

     var elements = node.getElementsByTagName(tagName);  

     var result = [];  

     for(var i=0,j=elements.length,k=0;i<j;i++){//缓存length属性  

         var element = elements[i];  

         while(className[k++].test(element.className)){//优化循环  

             if(k === classNameLength){  

                 result[result.length] = element;  

                 break;  

             }     

         }  

        k = 0;  

     }  

     return result;  

} 

		var contents = getElementsByClassName("navgation","div",'content');
		var toggles = getElementsByClassName("navgation","h1",'type');
	
		var myAccordion = new fx.Accordion(
			toggles, contents, {opacity: true, duration: 400}
		);
		myAccordion.showThisHideOpen(contents[0]);
	</script>
        </td>
  </tr>
</table>