html{ overflow-y:scroll;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size: 100%; font-weight: normal; font-style: normal; }
ul,ol,dl,li{ margin:0;padding:0; list-style:none; }
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
img,input,a,label,select,textarea,button,span,b,q,div{vertical-align:top;}
button,input[type="reset"],input[type="button"],input[type="submit"] {cursor:pointer; }
/* Opera requires 1px of padding to render with contemporary native chrome */
button,input[type="checkbox"],input[type="radio"],input[type="reset"],input[type="submit"] {padding:1px;}
input[type=text]{width:150px; height:18px;}
/*  fonts  */
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}

pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;font:inherit;}
/*  others  */
ins {text-decoration: none;}
del {text-decoration: line-through;} 
/* make IE scale images properly */
img {-ms-interpolation-mode:bicubic;}
/*  自定义初始化  */
a { color:#000; text-decoration: none;cursor:pointer; }
a:hover { text-decoration: underline;color:#333;  }
a:active,a:visited {/* color:#005a9c; */}
body{color:#333; margin:0 auto;}
div,li,dd,dt,q,b,p,span,a,h1,h2,h3,h4,h5,h6,legend{ word-break:break-all;}/* 英文自动换行 */

/* html5 elements */
abbr,article,aside,audio,bb,canvas,datagrid,datalist,details,dialog,eventsource,figure,footer,hgroup,header,mark,menu,meter,nav,output,progress,section,video{ margin:0; padding:0;display:block; zoom:1;}﻿@charset "utf-8";
/*
* @name		:s
* @author	:czy
* @version	:1.0.0.0
* @type		:公共
* @explain	:
* @relating	:
* @dependent:
* @date     : 2011-05-16
* @qq       : 274142680@qq.com
* http:www.caizhongyi.com
* http:www.crazyproduct.com
*/


/* 行内无素必需放在一行不能换行 */
/*  com  */
.center { text-align:center; }
.equal { padding-bottom: 32767px; margin-bottom: -32767px; } 
.overflow { overflow:hidden;_overflow:visible;_zoom:1; }
.left { float:left;*display:inline;_margin-right:-3px; }
.right { float:right;*display:inline;_margin-left:-3px; }
/*  font size  */
.f12 { font-size:12px; }
.f14 { font-size:14px; }
/* h1 - h6 */
h1, h2, h3, h4, h5, h6{ font-weight:bold;}
h1 { font-size:16px;}
h2 { font-size:14px;}
h3 { font-size:12px;}
h4 { font-size:12px;}
h5 { font-size:12px;}
h6 { font-size:12px;}
/* colors */
.red { color:red;}
.green { color:green;}
.blue {color:blue;}
.yellow {color:yellow;}
/* word */
.wl {text-align:left;}
.wr {text-align:right;}
.wc {text-align:justify;text-justify:inter-ideograph;}
.b {font-weight:bold;}
/* 超过的字以...显示 */
.ellip a{display: block;width: 300px;overflow: hidden;white-space: nowrap;-o-text-overflow: ellipsis;_text-overflow: ellipsis; *text-overflow: ellipsis;}
/* firefox only */  
.ellip:not(p) {clear: both;}   
.ellip:not(p) a {max-width: 300px;float: left;}   
.ellip:not(p):after {content: "..."; float: left;width: 25px;padding-left: 1px;}
/* a */
.hf:focus {outline:none;}/*去线边框*/
/* shadhow */
.shadow {
	-moz-box-shadow:1px 1px 5px #999;/* For Firefox3.6+ */
	-webkit-box-shadow:1px 1px 5px #999;/* For Chrome5+,Safari5+ */
	box-shadow:1px 1px 5px #999;/* For Latest Opera */
	overflow:hidden;
}
/* radius */
.radius
{
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px
}

/* 0高度 */
.line { height:0; line-height:0;overflow:hidden; font-size:0;}
/*  clear  */
.clear{display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
.clearfix{zoom:1;}
.clearfix:after{content:".";height:1%;display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both; *display:none;}

/*  mod  */
.mod {/* box css */ zoom:1;}
.mod:after {content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;*display:none;}
.mod .hd {/* box-hd */ zoom:1;}
.mod .hd:after {content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;*display:none;}
.mod .hd .tl,
.mod .hd .tr,
.mod .hd .tc,
.mod .ft .bl,
.mod .ft .br,
.mod .ft .bc 
{height:100%; zoom:1;}
.mod .hd .tl,
.mod .ft .bl
{float:left;_margin-right:-3px;background-repeat:no-repeat;}
.mod .hd .tr,
.mod .ft .br 
{float:right;_margin-left:-3px;background-repeat:no-repeat;}
.mod .hd .tc,
.mod .ft .bc 
{
      
}
.mod .bd {/* box-bd */}
.mod .ft {/* box-ft */zoom:1;}
.mod .ft:after {content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;*display:none;}

.grid .auto{ overflow:auto; padding:0 10px;}

/* 结构 */
.grid { zoom:1;}
.grid:after{content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;*display:none;}
.grid .g-l-50,
.grid .g-l-100,
.grid .g-l-200,
.grid .g-l-300,
.grid .g-l-400,
.grid .g-l-500,
.grid .g-l-600,
.grid .g-l-700,
.grid .g-l-800,
.grid .g-l-900,
.grid .g-l-150,
.grid .g-l-250,
.grid .g-l-350,
.grid .g-l-450,
.grid .g-l-550,
.grid .g-l-650,
.grid .g-l-750,
.grid .g-l-850,
.grid .g-l-950
{float:left; _margin-right:-3px;}


.grid .g-r-50,
.grid .g-r-100,
.grid .g-r-200,
.grid .g-r-300,
.grid .g-r-400,
.grid .g-r-500,
.grid .g-r-600,
.grid .g-r-700,
.grid .g-r-800,
.grid .g-r-900,
.grid .g-r-150,
.grid .g-r-250,
.grid .g-r-350,
.grid .g-r-450,
.grid .g-r-550,
.grid .g-r-650,
.grid .g-r-750,
.grid .g-r-850,
.grid .g-r-950
{float:right; _margin-left:-3px;}

.grid .g-r-50,.grid .g-l-50 {width:50px;}
.grid .g-r-100,.grid .g-l-100 {width:100px;}
.grid .g-r-200,.grid .g-l-200 {width:200px;}
.grid .g-r-300,.grid .g-l-300 {width:300px;}
.grid .g-r-400,.grid .g-l-400 {width:400px;}
.grid .g-r-500,.grid .g-l-500 {width:500px;}
.grid .g-r-600,.grid .g-l-600 {width:600px;}
.grid .g-r-700,.grid .g-l-700 {width:700px;}
.grid .g-r-800,.grid .g-l-800 {width:800px;}
.grid .g-r-900,.grid .g-l-900 {width:900px;}
.grid .g-r-150,.grid .g-l-150 {width:150px;}
.grid .g-r-250,.grid .g-l-250 {width:250px;}
.grid .g-r-350,.grid .g-l-350 {width:350px;}
.grid .g-r-450,.grid .g-l-450 {width:450px;}
.grid .g-r-550,.grid .g-l-550 {width:550px;}
.grid .g-r-650,.grid .g-l-650 {width:650px;}
.grid .g-r-750,.grid .g-l-750 {width:750px;}
.grid .g-r-850,.grid .g-l-850 {width:850px;}
.grid .g-r-950,.grid .g-l-950 {width:950px;}

/*  width  */
w-50 {width:50px;}
w-150 {width:150px;}
w-250 {width:250px;}
w-350 {width:350px;}
w-450 {width:450px;}
w-550 {width:550px;}
w-650 {width:650px;}
w-750 {width:750px;}
w-850 {width:850px;}
w-950 {width:950px;}
w-100 {width:100px;}
w-200 {width:200px;}
w-300 {width:300px;}
w-400 {width:400px;}
w-500 {width:500px;}
w-600 {width:600px;}
w-700 {width:700px;}
w-800 {width:800px;}
w-900 {width:900px;}


/*  inline block  
font: 12px/1.2 Tahoma, Arial, Helvetica, sans-serif;
*/
.layout { 
letter-spacing: -0.40em; /* webkit: collapse white-space between units */ 
*letter-spacing: normal; /* reset IE < 8 */    
word-spacing: -0.43em; /* IE < 8 && gecko: collapse white-space between units */
}
.layout *{ letter-spacing: normal;word-spacing: normal; }
.layout .inline
{ 
	 display:-moz-inline-stack;
	 display: inline-block;     
	 zoom: 1; *display: inline; /* IE < 8: fake inline-block */     
	 letter-spacing: normal;     
	 word-spacing: normal;     
}

.fluid,
.grid .fluid
{
    float: none;
    width: auto;
	_overflow:visible;
	zoom:1;
}



