.datapager{ margin-top:10px; font-size:12px;  margin-left:auto; margin-right:auto; text-align:center;}
.datapager a{ margin-left:5px; margin-right:5px; text-decoration:none;}
.datapager .current{color:Red;}
.datapager .normal{}
.datapager span{ margin-right:15px;}
