<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  /==================================
  特别注意，如果更改了本文件的参数，前台不生效，请重新启动IIS即可。
  运行里运行CMD -> iisreset
  如果不重新启动，需要10～30分钟生效
  /==================================
  
  相册配置文件
  -->

  <!--会员中心相册每页显示数量-->
  <PageNumber>15</PageNumber>
  <!--会员上传照片是否需要审核-->
  <UploadCheck>0</UploadCheck>
  <!--浏览相册每页显示多少图片-->
  <PhotoNumber>24</PhotoNumber>

  <!--图片评论每页显示条数-->
  <PhotoCommentNumber>24</PhotoCommentNumber>
  <!--图片发布的评论是否审核-->
  <CommentCheck>0</CommentCheck>

  <!--会员中心最新图片显示数量-->
  <NewPhotoNumber>28</NewPhotoNumber>
  <!--图片是否URL重写-->
  <PURLWrite>0</PURLWrite>
  <!--相册是否URL重写-->
  <AURLWrite>0</AURLWrite>
</configuration>