<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--是否开启问题应用程序-->
  <isopen>1</isopen>
  <!--发帖获得积分-->
  <postask>5</postask>
  <!--回复帖子-->
  <replayask>5</replayask>
  <!--设为最佳答案-->
  <bestask>10</bestask>
  <!--设置问题为悬赏，扣除发帖人多少积分-->
  <isJinji>20</isJinji>
  <!--多少分归属高分悬赏-->
  <hightpoint>50</hightpoint>
  <!--问题过期时间,单位天-->
  <timeout>720</timeout>
  <!--发问题是否需要审核才能显示-->
  <ischck>0</ischck>
  <!--图片存放目录-->
  <askpicpath>/uploads/app/ask</askpicpath>
  <!--问题列表每页显示数量-->
  <PageNumber>20</PageNumber>
  <!--是否开启URL重写,0否1是-->
  <URL>0</URL>
  <!--问答浏览页面，高分悬赏调用数量-->
  <InfoNumber>10</InfoNumber>
</configuration>

