<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--是否开启活动应用程序,0不开启，否则开启，必须为数字-->
  <isopen>1</isopen>
  <!--发起活动获得积分，必须为数字-->
  <post>5</post>
  <!--发起活动需要达到多少积分,0表示不限制，必须为数字-->
  <limited>0</limited>
  <!--发起活动是否需要上传头像,0否，否则需要，必须为数字-->
  <ishead>0</ishead>
  <!--参与活动-->
  <reply>5</reply>
  <!--发起活动是否需要审核,1是-->
  <ischeck>0</ischeck>
  <!--图片目录-->
  <picpath>/uploads/app/ative</picpath>
  <!--是否开启URL重写或生成静态,1是-->
  <URL>0</URL>
  <!--会员中心活动每页显示活动数量，必须为数字-->
  <PageNumber>12</PageNumber>
  <!--会员中心显示好友参加活动的数量，必须为数字-->
  <fNumber>16</fNumber>
  <!--非会员是否允许查看活动,1允许，其他否，必须为数字-->
  <ismember>1</ismember>
  <!--会员中心活动详细页面，关注会员显示数量，必须为数字-->
  <attmember>20</attmember>
  <!--会员中心活动详细页面，参加的会员显示数量，必须为数字-->
  <joinmember>24</joinmember>
  <!--会员中心活动详细页面，相片显示数量，必须为数字-->
  <photonumber>12</photonumber>
  <!--会员中心会员显示页面最多显示多少个会员，必须为数字-->
  <memberlistnumber>80</memberlistnumber>
  <!--会员中心相片显示页面最多显示多少个相片，必须为数字-->
  <photolistnumber>60</photolistnumber>
  <!--活动留言页面，每页显示留言多少条，必须为数字-->
  <commentNumber>20</commentNumber>
  <!--活动留言是否需要审核，0否，1是-->
  <CommentCheck>0</CommentCheck>
</configuration>

