<configuration>
  <!--
  /======基本设置，微博，日志，新闻的配置文件=====
  特别注意，如果更改了本文件的参数，前台不生效，请重新启动IIS即可。
  运行里运行CMD -> iisreset
  如果不重新启动，需要10～30分钟生效
  /==================================
  -->
  <!--个人动态前面是否显示系统公告-->
  <showannounce>1</showannounce>
  <!--最多可关注的网友-->
  <attNumber>10</attNumber>
  <!--同城/有缘人显示数量-->
  <cityNumber>30</cityNumber>
  <!--关注和被关注的人显示数量-->
  <attNumber>30</attNumber>
  <!--可能认识的朋友显示数量-->
  <pNumber>30</pNumber>
  <!--好友列表视图，0纵向排列，1横向排列-->
  <friendStyle>0</friendStyle>
  <!--好友列表每页显示数量-->
  <fNumber>30</fNumber>
  <!--来访者和我去看过的显示数量-->
  <vNumber>30</vNumber>
  <!--搜索显示数量-->
  <SearchNumber>30</SearchNumber>
  <!--购买道具折扣1到10表示几折-->
  <Magic>8</Magic>
  <!--发布的微博是否需要审核,0否，1是-->
  <Twitter>0</Twitter>
  <!--发布的微博评论是否需要审核,0否，1是-->
  <TwitterCommentCheck>0</TwitterCommentCheck>
  <!--微博图片-->
  <Twitterpath>/uploads/app/twitter</Twitterpath>
  <!--微博是否开启URLWriter-->
  <TwitterURLWriter>0</TwitterURLWriter>
  <!--发布的日志是否需要审核,0否，1是-->
  <Blog>0</Blog>
  <!--日志是否URL重写,0否，1是-->
  <BlogURLWrite>0</BlogURLWrite>
  <!--日志在会员中心显示内容简介字数，0～1000，1个中文占2个字符-->
  <BlogContentNumber>415</BlogContentNumber>
  <!--日志评论后是否需要审核0否，1是-->
  <BlogCommentCheck>0</BlogCommentCheck>
  <!--评论条数显示数量-->
  <BlogCommentNumber>16</BlogCommentNumber>
  <!--日志详细页面，调用脚印数量，必须为数字-->
  <Blogtrack>10</Blogtrack>
  <!--日志搜索是否全文搜索，开启后，可影响系统性能,0否，1是-->
  <BlogSearchText>0</BlogSearchText>
  <!--日志浏览页热点显示数量，必须为数字-->
  <BlogHotNumber>15</BlogHotNumber>
  <!--日志图片及附件存放地址-->
  <BlogPath>/uploads/app/blog</BlogPath>
  <!--=================================================================-->
  <!--会员发布的资讯是否审核,0否，1是-->
  <contentcheck>1</contentcheck>
  <!--会员中心每页显示资讯数量，必须为数字-->
  <contentPreNumber>15</contentPreNumber>
  <!--是否URL重写,0否，1是-->
  <ContentURLWrite>0</ContentURLWrite>
  <!--会员中心资讯是否显示简介，值必须是0或1-->
  <ContentShow>1</ContentShow>
  <!--简介显示字数。0～1000，1个中文占2个字符-->
  <ContentShowNumber>400</ContentShowNumber>
  <!--资讯搜索是否全文搜索，开启后，可影响系统性能,0否，1是-->
  <ContentSearchText>0</ContentSearchText>
  <!--资讯图片及附件存放地址-->
  <ContentPath>/uploads/app/article</ContentPath>
  <!--评论条数显示数量-->
  <ContentCommentNumber>16</ContentCommentNumber>
  <!--资讯评论后是否需要审核0否，1是-->
  <NewsCommentCheck>0</NewsCommentCheck>
  <!--资讯浏览页热点显示数量，必须为数字-->
  <ContentHotNumber>15</ContentHotNumber>
  <!--日历提前多少天提醒，必须为数字-->
  <noteNumber>2</noteNumber>
  <!--发送邮件，最多选择多少个好友-->
  <sendfriendnumber>5</sendfriendnumber>
  <!--留言是否需要审核,0否，1需要审核-->
  <gbookcheck>0</gbookcheck>
  <!--会员中心显示最近来访者数量，必须为数字-->
  <visitenumber>9</visitenumber>
  <!--会员中心显示同城异性网友数量，必须为数字-->
  <citynumber>6</citynumber>
  <!--会员中心显示好友数量，必须为数字-->
  <friendnumber>6</friendnumber>
  <!--会员中心新注册会员数量，必须为数字-->
  <regnumber>6</regnumber>
  <!--会员多少分钟后没有活动后删除，单位分，必须为数字-->
  <deleteUser>30</deleteUser>
  <!--帮助文件上传目录-->
  <helppath>/uploads/help</helppath>
</configuration>

