<?xml version="1.0" encoding="utf-8"?>
<!--此项任何项目更改，需要等待10分钟才能生效，或者重新启动IIS才能生效-->
<configuration>
    <dyn_0>
      <![CDATA[ 
      <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 发表了微博</span><em>{PostTime}{ColseDyn}</em>
      <div class="dynconts">
        <a href="{twitterurl}">{content}</a>
      </div>
    ]]>
    </dyn_0>
    <dyn_1>
      <![CDATA[
      <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 评论了微博</span><em>{PostTime}{ColseDyn}</em>
      <div class="dynconts">
        <a href="{twitterurl}">{content}</a>
      </div>
    ]]></dyn_1>
    <dyn_2>
      <![CDATA[
      <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> <strong>{UserName} 发表了新日志：<a href="{blogurl}">{title}</a></strong></span><em>{PostTime}{ColseDyn}</em>
      <div class="dynconts">
       {content}
      </div>

    ]]></dyn_2>
    <dyn_3>
      <![CDATA[
      <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 在日志<a href="{blogurl}">{title}</a>中发表了评论</span><em>{PostTime}{ColseDyn}</em>
      <div class="dynconts">
       {content}
      </div>
      ]]>
    </dyn_3>
    <dyn_4>
      <![CDATA[
      <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 创建了相册：<a href="{albumurl}">{title}</a></span><em>{PostTime}{ColseDyn}</em>
      <div class="dynconts">
       <a href="{albumurl}"><img src="{Img}"></a>
      </div>
      ]]>
    </dyn_4>
    <dyn_5>
      <![CDATA[
      <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> <strong>{UserName} 在相册<a href="{albumurl}">{albumname}</a>中上传了图片</strong></span><em>{PostTime}{ColseDyn}</em>
        <div class="dyncontspic"><ul>{content}</ul></div>
      ]]>
    </dyn_5>
    <dyn_6>
      <![CDATA[
      <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 对图片进行了评论</span><em>{PostTime}{ColseDyn}</em>
      <div class="dynconts">
       <a href="{photourl}"><img src="{Img}"></a>
      </div>
      ]]>
    </dyn_6>
    <dyn_7>
      <![CDATA[
      <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"><strong>{UserName} 创建了群组：<a href="{groupurl}">{title}</a></strong></span><em>{PostTime}{ColseDyn}</em>
      <div class="dynconts">
       <div class="bb" style="width:80px;"><a href="{groupurl}"><img src="{GroupICO}" onerror="this.src='{RootDir}/template/{SkinStyle}/images/nopic.gif'" style="max-width:60px;_width:60px;"></a></div><div class="aa" style="width:420px;">{content}</div>
      </div>
      ]]>
    </dyn_7>
    <dyn_8>
      <![CDATA[
       <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 在群组<a href="{groupurl}">{groupname}</a>中发表了话题</span><em>{PostTime}{ColseDyn}</em>
      <div class="dynconts">
       &nbsp; &nbsp; <a href="{topicurl}">{title}</a>
      </div>
      ]]>
    </dyn_8>
    <dyn_9>
      <![CDATA[
      <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 回复了话题：<a href="{topicurl}">{title}</a></span><em>{PostTime}{ColseDyn}</em>
      <div class="dynconts">
        {content}
      </div>
    ]]>
    </dyn_9>
    <dyn_10>
      <![CDATA[
      <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 分享了一个信息：<a href="{RootDir}/app/share/url{ExName}?infoid={infoid}&id={shareid}">{title}</a></span><em>{PostTime}{ColseDyn}</em>
      <div class="dynconts">
        {webURL}
        {content}
      </div>
     ]]>
    </dyn_10>
    <dyn_11>
      <![CDATA[      
      <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 发布了热文：<a href="{newsurl}">{title}</a></span><em>{PostTime}{ColseDyn}</em>
      <div class="dynconts">
        {content}
      </div>
     ]]>
    </dyn_11>
    <dyn_12>
      <![CDATA[      
      <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 评论了热文：<a href="{newsurl}">{title}</a></span><em>{PostTime}{ColseDyn}</em>
      ]]></dyn_12>
    <dyn_13>
      <![CDATA[         
      <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 发布了商品：<a href="{goodsurl}">{title}</a></span><em>{PostTime}{ColseDyn}</em>
      <div class="dynconts">
        {content}
      </div>
    ]]></dyn_13>
    <dyn_14>
      <![CDATA[     
      <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 评论了商品：<a href="{goodsurl}">{title}</a></span><em>{PostTime}{ColseDyn}</em>
        ]]>
    </dyn_14>
    <dyn_15>
      <![CDATA[
     <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 建立了店铺：<a href="{shopurl}">{title}</a></span><em>{PostTime}{ColseDyn}</em>
      <div class="dynconts">
        {content}
      </div>
    ]]>
    </dyn_15>
    <dyn_16>
      <![CDATA[
         <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 发起了团购：<a href="{multeurl}">{title}</a></span><em>{PostTime}{ColseDyn}</em>
      <div class="dynconts">
        {content}
      </div>

    ]]>
    </dyn_16>
    <dyn_17>
      <![CDATA[
     <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 评论了团购：<a href="{multeurl}">{title}</a></span><em>{PostTime}{ColseDyn}</em>
     ]]></dyn_17>
    <dyn_18>
      <![CDATA[
     <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 加入了团购：<a href="{multeurl}">{title}</a></span><em>{PostTime}{ColseDyn}</em>
      ]]>
    </dyn_18>
    <dyn_19>
      <![CDATA[
       <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 发起了活动：<a href="{ativeurl}">{title}</a></span><em>{PostTime}{ColseDyn}</em>
      <div class="dynconts">
        {content}
      </div>
    ]]>
    </dyn_19>
    <dyn_20>
      <![CDATA[
       <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 在<a href="{ativeurl}">{title}</a>活动中留了言</span><em>{PostTime}{ColseDyn}</em>
      ]]></dyn_20>
    <dyn_21>
      <![CDATA[
      <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 加入了活动：<a href="{ativeurl}">{title}</a></span><em>{PostTime}{ColseDyn}</em>
      <div class="dynconts">
        {content}
      </div>
    ]]>
    </dyn_21>
    <dyn_22><![CDATA[ActiveCreatPhoto]]></dyn_22>
    <dyn_23>
      <![CDATA[
      <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 发起了提问：<a href="{askurl}">{title}</a></span><em>{PostTime}{ColseDyn}</em>
      <div class="dynconts">
        {content}
      </div>
    ]]></dyn_23>
    <dyn_24>
      <![CDATA[
      <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 回答了问题：<a href="{askurl}">{title}</a></span><em>{PostTime}{ColseDyn}</em>
    ]]></dyn_24>
    <dyn_25>
      <![CDATA[
         <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;">{UserName} 给 {bUserName} 送了一个<a href="{RootDir}/app/gift">礼物：{GiftName}</a></span><em>{PostTime}{ColseDyn}</em>
        <div class="dynconts">
          <a href="{RootDir}/app/gift"><img src="{GiftPic}" style="max-width:100px;_width:100px;" /></a>
        </div>
        ]]>
    </dyn_25>
    <dyn_26>
      <![CDATA[
     <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} {content}</strong> <a href="{RootDir}/app/poke"><img src="{RootDir}/template/{SkinStyle}/images/poke/pokeact_{key}.gif" align="middle" /></a></span><em>{PostTime}{ColseDyn}</em>
      ]]>
    </dyn_26>
    <dyn_27>
     <![CDATA[
    <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;">{UserName} 发起了一个投票 <strong><a href="{voteurl}">{title}</a></strong></span><em>{PostTime}{ColseDyn}</em>
    <div class="dynconts">
      {content}
    </div>
     ]]>
    </dyn_27>
    <dyn_28>
      <![CDATA[    
    <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 投票了<strong><a href="{voteurl}">{title}</a></strong></span><em>{PostTime}{ColseDyn}</em>
    <div class="dynconts">
      {content}
    </div>
    ]]>
    </dyn_28>
    <dyn_29>
      <![CDATA[      
      <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 收藏了一个网址：<a href="{RootDir}/app/favorite?q={userid}">{title}</a></span><em>{PostTime}{ColseDyn}</em>
    <div class="dynconts">
      {content}
    </div>
     ]]></dyn_29>
    <dyn_30>
      <![CDATA[
          <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 邀请 {bUserName} 加入了网站</span><em>{PostTime}{ColseDyn}</em>
      ]]>
    </dyn_30>
    <dyn_31>
      <![CDATA[
        <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 更新了头像。</span><em>{PostTime}{ColseDyn}</em>
         <div class="dynconts">
          <img src="{headpic}" />
        </div>
      ]]>
    </dyn_31>
    <dyn_32>
      <![CDATA[
             <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} <a href="{RootDir}/activation{ExName}">验证了电子邮件。</a></span><em>{PostTime}{ColseDyn}</em>
      ]]>
    </dyn_32>
    <dyn_33><![CDATA[CreatAPP]]></dyn_33>
    <dyn_34><![CDATA[SetUpAPP]]></dyn_34>
    <dyn_35>
      <![CDATA[
      <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 加入了群：<a href="{groupurl}">{groupname}</a></span><em>{PostTime}{ColseDyn}</em>
    ]]></dyn_35>
    <dyn_36>
      <![CDATA[
         <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 和 {bUserName} 成为了朋友。</span><em>{PostTime}{ColseDyn}</em>
       ]]>
    </dyn_36>
    <dyn_37>
      <![CDATA[      
      <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 回复了话题：<a href="{RootDir}/app/group/topic{ExName}?tid={tid}">{title}</a></span><em>{PostTime}{ColseDyn}</em>
      <div class="dyntitles">
        所属群组：{groupname}
      </div>      
    ]]></dyn_37>
    <dyn_38>
      <![CDATA[
      <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 的答案被设为了最佳答案</span><em>{PostTime}{ColseDyn}</em>
      <div class="dyntitles">
        <a href="{askurl}">{title}</a>
      </div>      
      <div class="dynconts">
        {content}
      </div>
    ]]>
    </dyn_38>
  <dyn_39>
    <![CDATA[
          <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 更新了基本资料。</span><em>{PostTime}{ColseDyn}</em>
    ]]>
  </dyn_39>
  <dyn_40>
    <![CDATA[
          <span style="background:url({RootDir}/template/{SkinStyle}/images/dynico/{ICO}.gif) no-repeat 0 3px;"> {UserName} 更换了<a href="{RootDir}/space/info/space{ExName}">空间模板</a>。</span><em>{PostTime}{ColseDyn}</em>
          <div class="dynconts">
          {content}
        </div>
    ]]>
  </dyn_40>
</configuration>
