<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  /==================================
  特别注意，如果更改了本文件的参数，前台不生效，请重新启动IIS即可。
  运行里运行CMD -> iisreset
  如果不重新启动，需要10～30分钟生效
  /==================================
  
  相册配置文件
  -->
  <!--每个群组最大会员数-->
  <groupMember>500</groupMember>
  <!--是否显示名人群-->
  <IsLight>1</IsLight>
  <!--群组标志图片上传目录-->
  <GroupPicPath>/uploads/group/pic</GroupPicPath>
  <!--群组附件上传目录-->
  <GroupFilesPath>/uploads/group/files</GroupFilesPath>
  <!--附件允许上传文件-->
  <GroupFilesExt>.doc,.docx,.xls,.xlsx,.zip,.rar,.txt,.psd,.jpg,.jpeg,.gif,.swf,.flv,.mp3,.wma,.bmp</GroupFilesExt>
  <!--会员中心社群显示数量-->
  <PageNumber>16</PageNumber>
  <!-- 创建社群是否需要审核 0否1是-->
  <CreatGroupCheck>0</CreatGroupCheck>
  <!-- 站群首页显示帖子数量-->
  <GroupIndexNumber>22</GroupIndexNumber>
  <!-- 站群话题区显示帖子数量-->
  <TopicPageNumber>20</TopicPageNumber>
  <!-- 站群首页显示成员数量-->
  <GroupMemberNumber>10</GroupMemberNumber>
  <!-- 群附件空间大小,单位M-->
  <GroupFilesSize>100</GroupFilesSize>
  
  <!-- 是否开启全文搜索-->
  <SearchContent>0</SearchContent>
  <!-- 帖子浏览页每页显示数量-->
  <topicspage>10</topicspage>
  <!-- 回复帖子是否需要审核 0否1是-->
  <ReplyCheck>0</ReplyCheck>
  <!-- 共享区文件存储大小单位M-->
  <FileSpaceSize>1024</FileSpaceSize>
  <!--群组是否URL重写-->
  <QURLWrite>0</QURLWrite>
  <!--话题是否URL重写-->
  <TURLWrite>0</TURLWrite>
</configuration>