<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  /==================================
  特别注意，如果更改了本文件的参数，前台不生效，请重新启动IIS即可。
  运行里运行CMD -> iisreset
  如果不重新启动，需要10～30分钟生效
  /==================================
  -->
  <webName>JuSNS.CN</webName>
  <SiteName>聚讯社区门户化社交软件</SiteName>
  <!--域名，不带HTTP-->
  <Domain>www.jusns.cn</Domain>
  <Url>http://www.jusns.cn</Url>
  <!--全站必须要登录后才可查看,1表示需要登录,其他表示不需要登录-->
  <isLogin>0</isLogin>
  <!--站点关键字-->
  <keywords>JuSNS,Julaa,,聚网社交软件,软件开发,.NET</keywords>
  <!--站点描述-->
  <description>JuSNS是一个基于.NET2.0+MS SQL server 2000/2005的一款平台型社交网络软件。她灵活多变，开发者(包括用户)可以基于JuSNS平台开发自己的社交关系</description>
  <!--站点版权-->
  <copyright>Copyright © 2006-2010 www.JuSNS.com，成都聚讯网络科技有限公司版权所有 All Rights Reserved</copyright>
  <!--
  站点使用的文件名
  请用 .aspx,.html,.htm,.shtml等或任意自定义类型(如果在IIS里没有做映像，只能使用.aspx)。
  必须和web.config中的path相同。如：
  <httpHandlers>
     <add name="JuSNS" verb="*" path="*.aspx" type="JuSNS.Factory.WebHandler, JuSNS.Web"/>
  </httpHandlers>
  注意：请保证您网站中不要使用此类型的静态文件。
  ▓▓▓▓▓▓ IIS默认文档请设置为index.aspx,才能正常使用本系统的URL托管 ▓▓▓▓
 -->
  <siteExName>.aspx</siteExName>
  <!--注册开关,2只能邀请注册，1为允许注册,0为禁止注册-->
  <OpenReg>1</OpenReg>
  <!--注册是否需要验证才能登录，1表示需要电子邮件验证，0表示不验证。-->
  <RegVer>0</RegVer>
  <!--皮肤模板目录-->
  <SkinStyle>default</SkinStyle>
  <!--会员注册默认加那些人(客服)为好友，请填写会员ID，多个用逗号分开-->
  <defaultfriend>3</defaultfriend>
  <!--积分增加数
      依次为：0注册，1邀请注册(验证邮件)，2登录，3发表日志，4回复日志，5发表微博，6回复微博
                ，7创建相册，8上传图片，9创建群组，10发表主题，11回复主题，12分享，13分享评论，14打招呼，15加好友，16更新头像，17完善资料，18参加/关注活动
                ，19评论活动，20图片评论，21发布新闻，22评论新闻，23送礼物，24会员被推荐，25微博被推荐，26日志被推荐，27活动被推荐，28群组被推荐，29发起投票
                ，30参与投票，31发起商品，32商品/团购，店铺评论，33发起团购，34团购评论(未用)，35申请店铺，36发布活动,37发起问答/问答设为最佳答案(除了获得用户提问的积分外，额外获得积分),38创建日历,39添加了收藏夹,40加入团购活动,41信息被推荐-->
  <intelnum>5,10,1,2,1,1,1,1,1,2,1,1,1,1,1,1,2,1,2,1,1,2,1,1,2,2,2,2,2,1,1,1,1,1,1,2,1,2,1,1,1,5</intelnum>
  <!--删除信息，被扣除的新积分相对于internum的几倍。比如，增加相册得到2分，那么相册被删除，将被扣除2×downintel分数-->
  <downintel>2</downintel>
  <!--是否登录/注册开启验证码,0否，1是-->
  <loginCode>1</loginCode>
  <!--是否开启真名认证-->
  <isRealName>1</isRealName>
  <!--是否手机注册,此项需要和程序提供商联系定做 (未开通)-->
  <isRegMobile>0</isRegMobile>
  <!--用户是否必须上传头像-->
  <isUpHeadPic>0</isUpHeadPic>
  <!--上传图片大小,单位M-->
  <picsize>10</picsize>
  <!--上传图片类型-->
  <pictype>.jpg.gif.png.jpeg.bmp</pictype>
  <!--上传附件类型-->
  <filetype>.rar.zip.doc,docx.rm,.xls</filetype>
  <!--上传多媒体类型-->
  <mediatype>.wmv,.avi,.wma,.mp3,.mid</mediatype>
  <!--系统默认只能加多少个好友，多于此数字，将按照多少积分购买多少个好友。如：50,50,50表示：默认最多可加50个好友，多余50个好友后，可用50个积分购买50个好友。-->
  <friendlimit>50,50,50</friendlimit>
  <!--没有上传头像限制，只对isUpHeadPic节点为1有效
    参数依次表示：1:表示空间，2上传照片，3创建群组，发表主题，4发表回复日志。
    如果为0，表示不限制。其他去任意字符串为限制
  -->
  <limitType>1|1|1|1</limitType>
  <!--是否显示顶部快捷菜单-->
  <isShortmenu>1</isShortmenu>
  <!---最多可以打多少次招呼(每天)-->
  <pokeNumber>30</pokeNumber>
  <inviteReg>聚啦网是一个和朋友保持联系，认识新朋友地方！可以与朋友一起分享您的心情，您的照片等！还可以发表评论。感觉还不错，你也来看看吧。</inviteReg>
  <!--会员登录进入的首页是否开启同城好友异性匹配1是，0否-->
  <Matchfriend>0</Matchfriend>
  <!--手机发送验证码-->
  <sendmobileNumber>1000</sendmobileNumber>
  <!--发送到的端口号以绑定-->
  <sendMobileBind>13981776676</sendMobileBind>
  <!--Email验证接受和发送邮件-->
  <isEmailReturn>service@jusns.com</isEmailReturn>
  <!--在线人数基数，对外将显示实际在线人数加上此数据,，必须以","分开，必须为数字,0表示实际在线人数，1表示实际人数加上此数字-->
  <onlinebase>0,30</onlinebase>
  <!--开启在线统计,0否，1是-->
  <IsOnline>1</IsOnline>
  <!--用户首页默认动态条数-->
  <dynNumber>30</dynNumber>
  <!--个人主页动态显示条数-->
  <HomedynNumber>20</HomedynNumber>
  <!--首页好友相册是否开启-->
  <isOpenAlbum>0</isOpenAlbum>
  <!--首页最新注册用户显示是否开启-->
  <isShowNewReg>1</isShowNewReg>
  <!--首页最近过生日的朋友显示是否开启-->
  <isShowBirthday>1</isShowBirthday>
  <!--IP限制段,多个用|分开,格式如：192.168.1.110|212.235.*.*|232.*.*.*-->
  <ValidateIP></ValidateIP>
  <!--游客访问网站是首页(0)还是随便看看(1)-->
  <showIndexPage>0</showIndexPage>
  <!--问答是否要审核才能发布。-->
  <isCheckAsk>0</isCheckAsk>
  <!--首页会员注册数量统计是否显示|显示基数(用于作弊 -,- )。-->
  <ShowRegCount>1|12000</ShowRegCount>
  <!--允许非会员搜索0否，1是-->
  <GuestSearch>0</GuestSearch>
  <!--申请成为开发者是否需要管理员审核,0为需要审核，1为不需要-->
  <isDev>0</isDev>
  <!--网站联系方式-->
  <links>电话：028-85079801，移动电话：13981776676，Email:service@jusns.com</links>
  <!--Cookie跨域的域名。-->
  <CookieDomain></CookieDomain>
  <!--Cookies验证码，用户防止Cookies欺骗。请输入10位数字或字母的随机组合，请不要用非法字符。建议数字和字母结合-->
  <CookieVerifyCode>1234567890</CookieVerifyCode>
  <!--个人空间地址规则,0参数，2目录
        示例：
              0：http://www.jusns.com/user?uid=10 
              1：http://www.jusns.com/10 
  -->
  <Spaceurl>0</Spaceurl>
  <!--首页幻灯图片是否加入广告1表示是，0表示否。后面一个参数表示加入多少个广告-->
  <adstoindex>1,1</adstoindex>
  <!--是否允许创建群组。-->
  <groupcreat>1</groupcreat>
  <!--积分与金币兑换比例-->
  <gName>元宝</gName>
  <!--充值积分/金币兑换比例。
      示例：100,1表示：充值1RMB得到100个积分，1个金币
  -->
  <charge>100,1</charge>
  <!--会员等级
      以下表示：
      等级为1的时候，需要登录次数达到100天（每天算一次登陆）
      等级为2的时候，需要登录次数达到250天（每天算一次登陆）
      等级为3的时候，需要登录次数达到500天（每天算一次登陆）
      等级为4的时候，需要登录次数达到800天（每天算一次登陆）
      等级为5的时候，需要登录次数达到1200天（每天算一次登陆）
      等级为6的时候，需要登录次数达到2000天（每天算一次登陆）
      等级为7的时候，需要登录次数达到3000天（每天算一次登陆）
      等级为8的时候，需要登录次数达到5000天（每天算一次登陆）
  -->
  <memberleves>100,250,500,800,1200,2000,3000,5000</memberleves>
  <!--系统管理员目录-->
  <systempath>system</systempath>
</configuration>
