<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--HotBlog（用户）调用数量-->
  <hotblogusernumber>5</hotblogusernumber>
  <!--HotBlog（博客）调用数量-->
  <hotblognumber>8</hotblognumber>
  <!--热门排行显示数量/日志，资讯，群组-->
  <topNumber>10</topNumber>
  <!--群组排行-->
  <groupdynumber>5</groupdynumber>
  <!--微博动态-->
  <twitternumber>16</twitternumber>
  <!--==========首页资讯部分===========-->
  <!--推荐-->
  <newsrecnumber>12</newsrecnumber>
  <!--最新-->
  <newsnewnumber>10</newsnewnumber>
  <!--图片-->
  <newspicnumber>3</newspicnumber>
  <!--用户排行-->
  <topusernumber>16</topusernumber>
  <!--相册显示个数-->
  <albumnumber>6</albumnumber>
  <!--推荐/热门话题-->
  <showtopicnumber>9</showtopicnumber>
  <!--首页幻灯片存放目录-->
  <flashpath>/uploads/flash</flashpath>
  <!--广告图片存放目录-->
  <adspic>/uploads/ads</adspic>
  <!--个人中心分页每页显示数量-->
  <persionnumber>20</persionnumber>
  <!--推荐部分-->
  <recgroup>12</recgroup>
  <recgoods>12</recgoods>
  <recshop>12</recshop>
  <recphoto>15</recphoto>
  <recactive>10</recactive>
  <recask>10</recask>
  <recvote>10</recvote>
  <!--app图片存放目录-->
  <apppath>/uploads/app/center</apppath>
  <!--编辑器中上传文件路径-->
  <edit_file>/library/page/upload.aspx?type=file</edit_file>
  <edit_pic>/library/page/upload.aspx?type=pic</edit_pic>
  <edit_flash>/library/page/upload.aspx?type=flash</edit_flash>
  <edit_media>/library/page/upload.aspx?type=media</edit_media>
  <editskin>o2007silver</editskin>
  <!--系统是否生成错误日志,0否，1是-->
  <errorlogs>0</errorlogs>
  <!--公共上传-->
  <curpicpath>/uploads/app/cus/pic</curpicpath>
  <curfilepath>/uploads/app/cus/file</curfilepath>
  <curflashpath>/uploads/app/cus/flash</curflashpath>
  <curmediapath>/uploads/app/cus/media</curmediapath>
  <!--开启友情链接-->
  <linksopen>1</linksopen>
  <!--友情链接图片存放地址-->
  <linkspath>/uploads/links</linkspath>
  <!--友情链接显示数量-->
  <linksNumber>30</linksNumber>
</configuration>