<?xml version="1.0" encoding="utf-8"?>
<config>
  <add key="1" value="打招呼" more="友善的和 xx 打招呼"></add>
  <add key="2" value="握个手" more="和 xx 握手"></add>
  <add key="3" value="戳一下" more="坏坏的戳了 xx 一下"></add>
  <add key="4" value="胜利" more="对 xx 露出了胜利的微笑"></add>
  <add key="5" value="给一拳" more="用力给了 xx 一拳头"></add>
  <add key="6" value="微笑" more="向 xx 微笑"></add>
  <add key="7" value="色迷迷" more="色迷迷的看着 xx "></add>
  <add key="8" value="抛媚眼" more="给 xx 抛了一个媚眼"></add>
  <add key="9" value="摸摸头" more="摸了摸 xx 的头"></add>
  <add key="10" value="飞吻" more="给 xx 抛了一个飞吻"></add>
  <add key="11" value="电一下" more="对 xx 放电"></add>
  <add key="12" value="踩一下" more="踹了 xx 一脚"></add>
  <add key="13" value="捏一下" more="捏了 xx 一下"></add>
  <add key="14" value="拥抱" more="展开臂膀拥抱了 xx "></add>
  <add key="15" value="爱情" more="爱 xx "></add>
  <add key="16" value="咬一口" more="咬了 xx 一口"></add>
  <add key="17" value="挠痒痒" more="给 xx 挠痒痒"></add>
  <add key="18" value="捏捏脚" more="给 xx 捏了捏脚"></add>
  <!--每天最多给朋友打多少次招呼，必须为数字-->
  <DayPokeNumber>30</DayPokeNumber>
  <!--打招呼最多选择几个好友发送，必须为数字-->
  <UserNumber>5</UserNumber>
</config>
