<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--是否开启商品应用程序,0不开启，否则开启，必须为数字-->
  <isopen>1</isopen>
  <!--开启URL重写,0不开启，否则开启，必须为数字-->
  <URL>0</URL>
  <!--应用程序名-->
  <shopname>品牌</shopname>
  <!--非会员是否允许查看,1允许，其他否，必须为数字-->
  <ismember>1</ismember>
  <!--发起的交易是否需要审核,1是，其他否，必须为数字-->
  <shopcheck>0</shopcheck>
  <!--品牌入驻是否需要审核,1是，其他否，必须为数字-->
  <shopincheck>1</shopincheck>
  <!--图片保存目录-->
  <shopPicPath>/uploads/app/shop</shopPicPath>
  <!--会员中心列表每页显示商品数量-->
  <PageNumber>20</PageNumber>
  <!--会员中心推荐/用户品牌/团购数量-->
  <IsRecGoods>8</IsRecGoods>
  <!--会员中心推荐商铺数量-->
  <IsRecShop>10</IsRecShop>
  <!--商品开通在线交易,1表示开启，其他数字表示未开启-->
  <OpenTrade>1</OpenTrade>
  <!--评论显示数量-->
  <CommentNumber>10</CommentNumber>
  <!--商品/团购评论是否需要审核-->
  <GoodsCommentCheck>0</GoodsCommentCheck>
  <!--发布团购是否需要审核,0否，1是-->
  <MulteBuyCheck>0</MulteBuyCheck>
  <!--商品评分，是否允许某个用户多次评分,0否，1是-->
  <GoodsUserComment>0</GoodsUserComment>
</configuration>