<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  /==================================
  特别注意，如果更改了本文件的参数，前台不生效，请重新启动IIS即可。
  运行里运行CMD -> iisreset
  如果不重新启动，需要10～30分钟生效
  /==================================
  
  相册配置文件
  -->

  <!--会员中心每页显示数量-->
  <PageNumber>10</PageNumber>
  <!--是否URL重写-->
  <URLWrite>0</URLWrite>
</configuration>