<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>-电子科技公司</title>
<meta content="" name="keywords" />
<meta content="" name="description" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/form.js"></script>
<script type="text/javascript" src="js/blockui.js"></script>
<!-reload-!>
</head>
<body style='background:transparent'>
<script type="text/javascript">
    var PDV_PAGEID = '1';
    var PDV_RP = '';
    var PDV_COLTYPE = 'index';
    var PDV_PAGENAME = 'index'; 
</script>
 
<div id='contain' style='width:1002px;background:url(images/1262661247.gif) repeat-y left top;margin:0px auto;padding:0px'>
 
<div id='top' style='width:1002px;height:328px;background:url(images/1262918621.gif)'>
 
 
<!-- 自定义透明FLASH -->
 
<div id='pdv_12535' class='pdv_class'  title='' style='width:1002px;height:175px;top:101px;left:0px; z-index:2'>
<div id='spdv_12535' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="100%" height="100%">
 <param name="movie" value="swf/1271061628.swf" />
 <param name="quality" value="high" />
 <param name="wmode" value="transparent" />
 <embed src="swf/1271061628.swf" wmode="transparent" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="1002" height="175"></embed>
</object>
 
</div>
</div>
 
</div>
</div>
 
<!-- 图片/FLASH -->
 
<div id='pdv_12534' class='pdv_class'  title='' style='width:1002px;height:101px;top:0px;left:0px; z-index:3'>
<div id='spdv_12534' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<img src="images/1274144644.jpg" border="0" width="100%" />
 
</div>
</div>
 
</div>
</div>
 
<!-- 一级导航菜单 -->
 
<div id='pdv_10994' class='pdv_class'   style='width:881px;height:50px;top:276px;left:0px; z-index:4'>
<div id='spdv_10994' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		导航菜单
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
<link href="css/A.css" rel="stylesheet" type="text/css" />
<div id="menumain">
<div class="menuright"></div>
<div class="mainmenuiner">
 
<a href="index.php" target="_self" class="menumain">网站首页</a>
 
<a href="page/html/company.php" target="_self" class="menumain">公司简介</a>
 
<a href="news/class/" target="_self" class="menumain">新闻动态</a>
 
<a href="product/class" target="_self" class="menumain">产品展示</a>
 
<a href="down/class/" target="_self" class="menumain">下载专区</a>
 
<a href="page/support/support.php" target="_self" class="menumain">技术支持</a>
 
<a href="job/index.php" target="_self" class="menumain">人才招聘</a>
 
<a href="page/contact/contact.php" target="_self" class="menumain">联系我们</a>
 
</div>
</div>
 
</div>
</div>
 
</div>
</div>
 
<!-- 网站标志 -->
 
<div id='pdv_10806' class='pdv_class'  title='' style='width:425px;height:70px;top:31px;left:0px; z-index:7'>
<div id='spdv_10806' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<img src="images/1274145897.jpg" border="0" />
 
 
</div>
</div>
 
</div>
</div>
 
<!-- 设为首页加入收藏 -->
 
<div id='pdv_12536' class='pdv_class'   style='width:242px;height:30px;top:10px;left:760px; z-index:10'>
<div id='spdv_12536' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		设为首页加入收藏
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
<div style="height:40px">
	<img src="images/home.jpg" border="0" style="margin:0px 2px 0px 0px;vertical-align:middle;" />
	<a href="http://www.2799.cn/1274496457/" style="color:#e7ebed;padding-right:4px;font:12px/22px Simsun;" onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.2799.cn/1274496457/'); return(false);">设为首页</a>
	<img src="images/bookmark.jpg" border="0" style="margin:0px 2px 0px 1px;vertical-align:middle;" />
<a href="http://www.2799.cn/1274496457/" style="color:#e7ebed;padding-right:4px;font:12px/22px Simsun;" onClick="window.external.addFavorite('http://www.2799.cn/1274496457/','电子科技公司'); return(false);">加入收藏</a>
	<img src="images/mail.jpg" border="0" style="margin:0px 2px 0px 1px;vertical-align:middle;" />
<a href="mailto:boss@mail.com" style="color:#e7ebed;padding-right:0px;font:12px/22px Simsun;">联系我们</a>
</div>
 
 
</div>
</div>
 
</div>
</div>
 
<!-- 图片/FLASH -->
 
<div id='pdv_13077' class='pdv_class'  title='' style='width:121px;height:50px;top:276px;left:881px; z-index:16'>
<div id='spdv_13077' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<img src="images/1274146788.jpg" border="0" width="100%" />
 
</div>
</div>
 
</div>
</div>
</div>
<div id='content' style='width:1002px;height:557px;background:url(images/cbg.jpg);margin:0px auto'>
 
 
<!-- 图片/FLASH -->
 
<div id='pdv_13078' class='pdv_class'  title='' style='width:807px;height:26px;top:0px;left:195px; z-index:1'>
<div id='spdv_13078' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<img src="images/1274149381.jpg" border="0" width="100%" />
 
</div>
</div>
 
</div>
</div>
 
<!-- 文章列表 -->
 
<div id='pdv_10810' class='pdv_class'  title='' style='width:230px;height:120px;top:425px;left:234px; z-index:8'>
<div id='spdv_10810' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:26px;border:0px;padding:0;margin:0;background:url(images/title.jpg) 0px 0px no-repeat;">
	<div style="float:right;width:38px;height:26px;background:url(images/title.jpg) -862px 0px no-repeat;">
	<a href="news/class/?86.html" style="display:inline"><img src="images/more.jpg" style="border:0px;padding:3px 0px 0px 0px;" /></a></div>
</div>
<div style="margin:0px;padding:0px;">
 
<link href="css/newslist.css" rel="stylesheet" type="text/css" />
<ul class="newslist">
 
<li class="newslist"><a href="news/html/?346.html" target="_self" class="newslist"   >国际质量管理和质量保证体系国际质量</a></li>
 
<li class="newslist"><a href="news/html/?339.html" target="_self" class="newslist"   >公司全面国际质量管理和质量保证体系</a></li>
 
<li class="newslist"><a href="news/html/?338.html" target="_self" class="newslist"   >管理和质量保证体系国际质量管理和质</a></li>
 
<li class="newslist"><a href="news/html/?336.html" target="_self" class="newslist"   >公司全面实施国际质量管理和质量保证</a></li>
 
</ul>
 
</div>
</div>
</div>
 
</div>
</div>
 
<!-- 产品分类（列表） -->
 
<div id='pdv_12539' class='pdv_class'  title='产品分类' style='width:195px;height:555px;top:0px;left:0px; z-index:11'>
<div id='spdv_12539' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:37px;border:0px;padding:0;margin:0;background:url(images/left_title.jpg) 0px 0px no-repeat;">
	<div style="float:right;width:10px;height:37px;background:url(images/left_title.jpg) -890px 0px no-repeat;"></div>
</div>
<div style="margin:0px;padding:0px;">
 
<link href="css/productclass_dolphin.css" rel="stylesheet" type="text/css" />
<div class="productclass_dolphin">
 
 
<a href="product/class/?115.html" target="_self" class="productclass_dolphin">感应+拍照考勤机</a>
 
 
<a href="product/class/?116.html" target="_self" class="productclass_dolphin">感应考勤机</a>
 
 
<a href="product/class/?74.html" target="_self" class="productclass_dolphin">感应消费机</a>
 
 
<a href="product/class/?119.html" target="_self" class="productclass_dolphin">感应门禁机</a>
 
 
<a href="product/class/?120.html" target="_self" class="productclass_dolphin">感应水控机</a>
 
 
<a href="product/class/?122.html" target="_self" class="productclass_dolphin">感应式保安巡检器</a>
 
 
<a href="product/class/?123.html" target="_self" class="productclass_dolphin">指纹+拍照考勤机</a>
 
 
<a href="product/class/?124.html" target="_self" class="productclass_dolphin">指纹考勤机</a>
 
 
<a href="product/class/?125.html" target="_self" class="productclass_dolphin">指纹门禁机</a>
 
 
<a href="product/class/?126.html" target="_self" class="productclass_dolphin">光学指纹头</a>
 
 
<a href="product/class/?127.html" target="_self" class="productclass_dolphin">IC ID感应卡</a>
 
 
<a href="product/class/?128.html" target="_self" class="productclass_dolphin">门禁电源附件</a>
 
 
<a href="product/class/?129.html" target="_self" class="productclass_dolphin">电控锁</a>
 
 
<a href="product/class/?130.html" target="_self" class="productclass_dolphin">转换器</a>
 
 
<a href="product/class/?131.html" target="_self" class="productclass_dolphin">机械打卡机</a>
 
 
<a href="product/class/?132.html" target="_self" class="productclass_dolphin">电子打卡机</a>
 
 
<a href="product/class/?133.html" target="_self" class="productclass_dolphin">碎纸机</a>
 
 
<a href="product/class/?134.html" target="_self" class="productclass_dolphin">卡钟色带</a>
 
 
<a href="product/class/?135.html" target="_self" class="productclass_dolphin">无线防盗报警器</a>
 
</div>
 
</div>
</div>
</div>
 
</div>
</div>
 
<!-- 空白边框 -->
 
<div id='pdv_12541' class='pdv_class'  title='产品展示' style='width:496px;height:30px;top:218px;left:234px; z-index:12'>
<div id='spdv_12541' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:13px;border:0px;padding:0;margin:0;background:url(base/border/785/images/title.jpg) 0px 0px no-repeat;">
	<div style="float:right;width:38px;height:13px;background:url(base/border/785/images/title.jpg) -862px 0px no-repeat;">
	<a href="product/class/" style="display:inline"><img title="" src="images/more.jpg" style="border:0px;padding:3px 0px 0px 0px;" /></a>
	</div>
</div>
<div style="margin:0px;padding:0px;">
&nbsp;
</div>
</div>
 
</div>
</div>
 
<!-- 自选产品列表 -->
 
<div id='pdv_12540' class='pdv_class'  title='' style='width:532px;height:148px;top:239px;left:216px; z-index:13'>
<div id='spdv_12540' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:inline">
		<a href="product/class/" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
<link href="css/productlist_roll.css" type="text/css" rel="stylesheet">
<script src="js/productlist_roll.js" type="text/javascript"></script>
<div  class="productlistx">
	<div class="rollproductlists">
		<div class="blkproductlistx">
			<div class="LeftButton" id="LeftArr1"></div>
			<div class="Cont" id="ISL_Cont_11">
 
					<div class="box">
						<div class="fang" style="width:150px;height:110px">
							<div class="picFit" style="width:150px;height:110px">
							<a href="product/html/?81.html" target="_self"><img height="110px" src="product/pics/20100114/1263441957.jpg" width="150px" border="0"></a>
							</div>
						</div>
						<a href="product/html/?81.html" target="_self" class="prodtitle">CL-KQ2501DK/MK考勤机</a>
					</div>
 
					<div class="box">
						<div class="fang" style="width:150px;height:110px">
							<div class="picFit" style="width:150px;height:110px">
							<a href="product/html/?79.html" target="_self"><img height="110px" src="product/pics/20100114/1263441874.jpg" width="150px" border="0"></a>
							</div>
						</div>
						<a href="product/html/?79.html" target="_self" class="prodtitle">TD100 感应考勤机</a>
					</div>
 
					<div class="box">
						<div class="fang" style="width:150px;height:110px">
							<div class="picFit" style="width:150px;height:110px">
							<a href="product/html/?78.html" target="_self"><img height="110px" src="product/pics/20100114/1263441849.jpg" width="150px" border="0"></a>
							</div>
						</div>
						<a href="product/html/?78.html" target="_self" class="prodtitle">J221 充值发卡机</a>
					</div>
 
					<div class="box">
						<div class="fang" style="width:150px;height:110px">
							<div class="picFit" style="width:150px;height:110px">
							<a href="product/html/?77.html" target="_self"><img height="110px" src="product/pics/20100114/1263441779.jpg" width="150px" border="0"></a>
							</div>
						</div>
						<a href="product/html/?77.html" target="_self" class="prodtitle">J3000SFG 挂式收费机</a>
					</div>
 
					<div class="box">
						<div class="fang" style="width:150px;height:110px">
							<div class="picFit" style="width:150px;height:110px">
							<a href="product/html/?75.html" target="_self"><img height="110px" src="product/pics/20100114/1263439292.jpg" width="150px" border="0"></a>
							</div>
						</div>
						<a href="product/html/?75.html" target="_self" class="prodtitle">无线考勤一体机</a>
					</div>
 
			</div>
			<div class="RightButton" id="RightArr1"></div>
<script language="javascript" type="text/javascript"> 
<!--    //--><![CDATA[//><!--
    var scrollPic_03 = new ScrollPic();
    scrollPic_03.scrollContId = "ISL_Cont_11"; //内容容器ID
    scrollPic_03.arrLeftId = "LeftArr1"; //左箭头ID
    scrollPic_03.arrRightId = "RightArr1"; //右箭头ID

    scrollPic_03.frameWidth = 471; //显示框宽度
    scrollPic_03.pageWidth = 159; //翻页宽度

    scrollPic_03.speed = 10; //移动速度(单位毫秒，越小越快)
    scrollPic_03.space = 10; //每次移动像素(单位px，越大越快)
    scrollPic_03.autoPlay = true; //自动播放
    scrollPic_03.autoPlayTime = 3; //自动播放间隔时间(秒)

    scrollPic_03.initialize(); //初始化

    //--><!]]>
</script>
		</div>
	</div>
</div>
<script>
    $(function () {
        $().picFit("auto");
    });
</script>
 
</div>
</div>
 
</div>
</div>
 
<!-- HTML编辑区 -->
 
<div id='pdv_12543' class='pdv_class'  title='' style='width:496px;height:169px;top:33px;left:234px; z-index:14'>
<div id='spdv_12543' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:26px;border:0px;padding:0;margin:0;background:url(images/title.jpg) 0px 0px no-repeat;">
	<div style="float:right;width:38px;height:26px;background:url(images/title.jpg) -862px 0px no-repeat;">
	<a href="page/html/company.php" style="display:inline"><img src="images/more.jpg" style="border:0px;padding:3px 0px 0px 0px;" /></a></div>
</div>
<div style="margin:0px;padding:0px;">
<div style="PADDING-TOP: 10px"><img style="PADDING-RIGHT: 20px; FLOAT: left" alt="" src="images/201005181274149645500.jpg" border=0 /> 
<div style="PADDING-LEFT: 3px; PADDING-BOTTOM: 14px; FONT: 12px/21px simsun; COLOR: #383838; PADDING-TOP: 2px">&nbsp;&nbsp;&nbsp; 杭州某某电子科技有限公司是一家专业从事企业管理软件定做开发,感应式IC卡“一卡通”产品销售及工程设计、安装调试于一体的高科技智能形企业。公司的经营理念是通过管理知识和软件技术相结合,帮助企业用户改善业务流程、构建管理体系、提高营运效率、提升企业核心竞争力和快速反应能力。 公司培养了一支诚信、敬业、务实、创新的技术和管理团队，能更方便为广大客户提供技术更先进的产品。</div></div>
</div>
</div>
</div>
 
</div>
</div>
 
<!-- HTML编辑区 -->
 
<div id='pdv_12544' class='pdv_class'  title='联系我们' style='width:231px;height:154px;top:397px;left:771px; z-index:15'>
<div id='spdv_12544' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:26px;border:0px;padding:0;margin:0;background:url(images/title.jpg) 0px 0px no-repeat;">
	<div style="float:right;width:38px;height:26px;background:url(images/title.jpg) -862px 0px no-repeat;"></div>
</div>
<div style="margin:0px;padding:0px;">
<div style="PADDING-LEFT: 3px; PADDING-BOTTOM: 14px; FONT: 12px/19px simsun; COLOR: #333; PADDING-TOP: 9px">地 址：杭州市莫山南路868号<br />电 话：0571-98765432<br />传 真：0571-98765433<br />手 机：15812345678<br />联系人：杨军(经理)<br />邮 箱：boss@mail.com</div>
</div>
</div>
</div>
 
</div>
</div>
 
<!-- 图片/FLASH -->
 
<div id='pdv_13080' class='pdv_class'  title='' style='width:231px;height:197px;top:33px;left:771px; z-index:17'>
<div id='spdv_13080' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<a href="page/html/sale.php"><img src="images/1274157456.jpg" border="0" width="100%" /></a>
 
</div>
</div>
 
</div>
</div>
 
<!-- 文章列表 -->
 
<div id='pdv_13079' class='pdv_class'  title='' style='width:230px;height:120px;top:425px;left:498px; z-index:18'>
<div id='spdv_13079' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:26px;border:0px;padding:0;margin:0;background:url(base/border/787/images/title.jpg) 0px 0px no-repeat;">
	<div style="float:right;width:38px;height:26px;background:url(base/border/787/images/title.jpg) -862px 0px no-repeat;">
	<a href="news/class/?97.html" style="display:inline"><img src="images/more.jpg" style="border:0px;padding:3px 0px 0px 0px;" /></a></div>
</div>
<div style="margin:0px;padding:0px;">
 
<link href="css/newslist.css" rel="stylesheet" type="text/css" />
<ul class="newslist">
 
<li class="newslist"><a href="news/html/?379.html" target="_self" class="newslist"   >技术支持全面实施国际质量管理</a></li>
 
<li class="newslist"><a href="news/html/?378.html" target="_self" class="newslist"   >技术支持全面实施国际质量管理和</a></li>
 
<li class="newslist"><a href="news/html/?377.html" target="_self" class="newslist"   >安装常见问题安装常见问题安装常见问</a></li>
 
<li class="newslist"><a href="news/html/?376.html" target="_self" class="newslist"   >实施国际质量管理和质量保证体系司全</a></li>
 
</ul>
 
</div>
</div>
</div>
 
</div>
</div>
 
<!-- 下载列表 -->
 
<div id='pdv_13081' class='pdv_class'  title='' style='width:231px;height:150px;top:235px;left:771px; z-index:19'>
<div id='spdv_13081' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:26px;border:0px;padding:0;margin:0;background:url(images/title.jpg) 0px 0px no-repeat;">
	<div style="float:right;width:38px;height:26px;background:url(images/title.jpg) -862px 0px no-repeat;">
	<a href="down/class/" style="display:inline"><img src="base/border/786/images/more.jpg" style="border:0px;padding:3px 0px 0px 0px;" /></a></div>
</div>
<div style="margin:0px;padding:0px;">
 
<link href="css/downlist.css" rel="stylesheet" type="text/css" />
<ul class="downlist">
 
 
<li class="downlist">
<div style="float:right;padding-top:4px;"><a href="down/html/?4.html" class="downlink"><img src="images/down.jpg" border="0" style="vertical-align:middle" /></a></div>
<a href="down/html/?4.html" target="_self" class="downlist"   >门禁管理软件JS168(Chinese)</a>
</li>
 
 
<li class="downlist">
<div style="float:right;padding-top:4px;"><a href="down/html/?3.html" class="downlink"><img src="images/down.jpg" border="0" style="vertical-align:middle" /></a></div>
<a href="down/html/?3.html" target="_self" class="downlist"   >usb口转com口驱动</a>
</li>
 
 
<li class="downlist">
<div style="float:right;padding-top:4px;"><a href="down/html/?2.html" class="downlink"><img src="images/down.jpg" border="0" style="vertical-align:middle" /></a></div>
<a href="down/html/?2.html" target="_self" class="downlist"   >Microsoft.NET Framework 2.0</a>
</li>
 
 
<li class="downlist">
<div style="float:right;padding-top:4px;"><a href="down/html/?1.html" class="downlink"><img src="images/down.jpg" border="0" style="vertical-align:middle" /></a></div>
<a href="down/html/?1.html" target="_self" class="downlist"   >繁体开发实例(2501/02/08)</a>
</li>
 
</ul>
 
</div>
</div>
</div>
 
</div>
</div>
 
<!-- 图片/FLASH -->
 
<div id='pdv_13082' class='pdv_class'  title='' style='width:54px;height:52px;top:489px;left:948px; z-index:20'>
<div id='spdv_13082' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<img src="images/1274161784.jpg" border="0" width="100%" />
 
</div>
</div>
 
</div>
</div>
</div>
<div id='bottom' style='width:1002px;height:119px;background:none transparent scroll repeat 0% 0%'>
 
 
<!-- 图片/FLASH -->
 
<div id='pdv_10801' class='pdv_class'  title='' style='width:1002px;height:82px;top:0px;left:0px; z-index:5'>
<div id='spdv_10801' class='pdv_bottom' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<img src="images/1274162140.jpg" border="0" width="100%" />
 
</div>
</div>
 
</div>
</div>
 
<!-- 底部菜单（一级） -->
 
<div id='pdv_10813' class='pdv_class'   style='width:395px;height:20px;top:26px;left:305px; z-index:6'>
<div id='spdv_10813' class='pdv_bottom' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		脚注栏目
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
<link href="css/foot.css" rel="stylesheet" type="text/css" />
<div id="bottommenu">
 
<a href="page/html/company.php" target="_self">关于我们</a>|
 
<a href="page/contact/contact.php" target="_self">联系方式</a>|
 
<a href="page/contact/feedback.php" target="_self">信息反馈</a>|
 
<a href="page/contact/advise.php" target="_self">投诉建议</a>|
 
<a href="job/index.php" target="_self">诚聘英才</a>|
 
<a href="advs/link/" target="_self">友情链接</a>|
 
</div>
 
 
</div>
</div>
 
</div>
</div>
 
<!-- 底部信息编辑区 -->
 
<div id='pdv_10807' class='pdv_class'  title='脚注信息' style='width:1001px;height:43px;top:74px;left:1px; z-index:9'>
<div id='spdv_10807' class='pdv_bottom' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		脚注信息
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
<div style="width:100%;text-align:center;font:12px/20px Arial, Helvetica, sans-serif">
<div style="MARGIN: 0px; COLOR: #5c5c5c; LINE-HEIGHT: 24px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center">版权所有 Copyright(C)2009-2010 杭州某电子科技公司</div>
</div>
 
</div>
</div>
 
</div>
</div>
</div>
</div><div id='bodyex'>
 
</div>
 
</body>
</html>

