<?xml version="1.0" encoding="utf-8" ?>
<WebSite>

  <config name="Config_WebSiteUserRole" value = "2" />
  <config name="Config_WebSiteEveryoneRole" value = "3" />
  <config name="Config_WebSiteUserLevel" value = "1" />
  <config name="Config_WebSiteUserPrestige" value = "60" />
  <config name="Config_WebSiteUserStyle" value = "DeFaultStyle.css" />
  <config name="WebSite_ListNumber" value = "15" />
  <config name="WebSite_TopicNumber" value = "30" />
  <config name="Config_WebSiteNewTopicDate" value = "3" />
  <config name="Config_WebSiteOnLineStatic" value = "300" />
  <config name="Config_WebSiteUserOnLineStatic" value = "UserOnLine" />
  <config name="Config_WebSiteUploadFolder" value = "/UploadFile/" />
  <config name="Config_WebSiteUpFileType" value = ".jpg|.gif|.rar|.mp3|.wmv" />
  <config name="Config_WebSiteUpFileRole" value = "1" />
  <config name="Config_WebSiteUpFileName" value = "{0}-UserFile-{1}-{2}" />
  <config name="Config_WebSiteUpFileMaxSize" value = "1024" />
  <config name="Config_WebSiteDisplayUserList" value = "2" />
  <config name="Config_WebSiteGuestName" value = "游客" />
  <config name="WebSite_Cookies" value = "Cookies" />
  <config name="WebSite_CookiePath" value = "/" />
  <config name="WebSite_Version" value = "1uZZ6vSeKzicVERqc9b6aMOiFnhIpZJAjrDhxy0UnSI=" />
  

  <config name="Config_WebSiteMessagesUserID" value = "1" />
  <config name="Config_WebSiteMessagesUserName" value = "admin" />
  <config name="WebSite_RefreshMessageNumber" value = "10" />

  <config name="Config_WebSiteFromEmail" value = "donetbbs@hotmail.com" />
  <config name="Config_WebSiteFromUserName" value = "东网论坛" />
</WebSite>