#parse("_head.html")
<div id="snssysmenu">
#parse("_menusystem.html")
</div>
<div id="snsbody1">
    <div id="snshead">留言管理</div>
    <div class="itemmenu">
        <ul>
            <li class="current"><a href="book$exname">用户留言</a></li>
            <li><a href="book_admin$exname">留言给管理员</a></li>
        </ul>
    </div>
    <div class="system">
        <p><input id="Button1" type="button" class="btn_blue10" onclick="deletestart('book');" value="清空所有用户留言" /></p>
    </div>
    
    
</div>
#parse("_foot.html")