#parse("_head.html")
<link href="$templatepath/css/app/gift.css" rel="stylesheet" type="text/css" />
<div id="snssysmenu">
#parse("_menusystem.html")
</div>
<div id="snsbody1">
    <div id="snshead">收藏夹</div>
    <div class="itemmenu">
        <ul>
            <li><a href="news$exname">资讯</a></li>
            <li><a href="group$exname">社群</a></li>
            <li><a href="topic$exname">话题</a></li>
            <li><a href="blog$exname">博客</a></li>
            <li><a href="twitter$exname">微博</a></li>
            <li><a href="photo$exname">相册</a></li>
            <li><a href="shop$exname">品牌</a></li>
            <li><a href="active$exname">活动</a></li>
            <li><a href="ask$exname">问答</a></li>
            <li class="current"><a href="gift$exname">礼物</a></li>
            <li><a href="poke$exname">招呼</a></li>
            <li><a href="vote$exname">投票</a></li>
            <li><a href="fav$exname">收藏</a></li>
        </ul>
    </div>
    
    <div class="itemmenu1">
        <ul>
            <li class="current"><a href="gift$exname">礼物管理</a></li>
            <li><a href="gift_add$exname">添加礼物</a></li>
            <li><a href="giftclass$exname">分类管理</a></li>
            <li><a href="giftclass_add$exname">添加分类</a></li>
            <li><a href="javascript:;" onclick="deletestart('gift');">初始化礼物</a></li>
   </ul>
    </div>
    
    <div class="gift">
             #if($recordcount>0)
                <ul>
                #foreach($info in $infolist)
                <li id="param_$info.id">
                    <div class="userpic">
                        <a href="gift_add$exname?gid=$info.id" title="点击修改"><img src="$info.giftpic" /></a>
                    </div>
                    <div class="giftcontent">
                       $info.giftname $info.showop<br />
                       #if($info.giftgpoint >0)$info.giftgpoint $gpoint<br />#end
                       #if($info.giftpoint >0) $info.giftpoint 积分<br />#end
                       #if($info.isvips)<span class="reshow">VIP会员专用</span><br />#end
                       <a href="$info.giftpic" target="_blank" title="查看大图">查看大图</a><br />
                    </div>
                </li>
                #end
              </ul>
              <div class="pages">$pagelist</div>
        #else
            <div>还没有记录</div>
        #end       
    </div>
    
</div>
#parse("_foot.html")
<script type="text/javascript">
    function showtc(cid)
    {
        jQuery("#cc_"+cid).toggle();
    }
</script>