/*---主体样式---*/
  #container{
  width:725px;
  margin:0 auto;
  padding:0;
  text-align:center;
  padding-left:233px;
  }
  
  /*---顶部样式---*/
  #container #header{
  float:left;
  height:306px;
  width:500px;
  margin:0 auto;
  padding: 0;
  background: url(top.gif) no-repeat;
  }
  #container #header #blogname{
  margin:5px auto;
  padding:5px 0px 15px 20px;
  font-size:24px;
  color: #9c2b2b;
  text-align:left;
  font-weight:bold;
  height: 240px;
  display: block;
  FILTER: Glow(Color=#ffffff, Strength=1)
  }
  #container #header #blogname #blogTitle{
  font-size:11px;
  font-weight: normal;
  margin:3px 3px 3px 8px;
  height:16px;
  FILTER: Glow(Color=#ffffff, Strength=1)
  }
  #container #header #menu{
  margin-top:16px;
  text-align: right;
  height:24px;
  width: 500px;
  display: block;
  position: relative;
  z-index: 99;
  background: url(menu_bg.gif);
  }
  #container #header #menu #Left{width:0px;float:left;}
  #container #header #menu #Right{width:0px;float:right;}  
  #container #header #menu ul{
  list-style:none;
  margin:0;
  padding:0;
  padding-left: 10px;
  float: left;
  height: 24px;
  line-height: 200%;
  } 
  #container #header #menu ul li{
  float:left;
  height: 20px;
  }  
   .menuL{}
   .menuR{}  
   .menuDiv{
	width:0px;
	padding:0px;
	margin:0;
	height: 20px;
	}/*---菜单分割线---*/
   /*---内容样式---*/
  
  /*---工具条--*/
  #sidebar{
  float: right;
  width:213px!important;
  width:200px;
  text-align:left;
  color:#574D31;
  }
  #innersidebar{}
  #sidebar-topimg{}
  #sidebar-bottomimg{}
  /*---工具箱样式--*/
  .sidepanel{
  width:213px;
  margin:0 auto!important; 
  margin:0px;
  }
  .Ptitle{
  height:24px;
  line-height:24px;
  text-align:left;
  padding-left:5px;
  font-weight:bold;
  font-size:12px;
  margin:0px;
  color: #E8EDBB;
  }  
  .Pcontent{
  text-align:left;
  padding: 0 0 5px 10px;
  line-height:160%;
  color: #E8EDBB;
  }  
  .Pcontent #Calendar_Body{
  	margin-top: -1px;
  }
  .Pcontent .LinkTable{
  	margin-top: -1px;
  }
  .Pfoot{
  margin:0px 0px 15px 0px;
  }  
  /*---主内容--*/ 
  #mainContent{
  float: left;
  background: url(left_mid.gif) repeat-y;
  width: 500px;
  margin: 0 auto;
  }
  #innermainContent{
  overflow:visible;
  }
  #mainContent-topimg{
  overflow:hidden;
  }
  #mainContent-bottomimg{
  background: url(left_bottom.gif);
  overflow:hidden;
  width: 500px;
  height: 40px;
  float: left;
  margin: 0 ;
  display: inline;
  }
  .content-width{
  width:460px;
  margin:0 auto;
  }/*--主内容元素的全局宽度--*/
  /*---主内容页数--*/
  .pageContent{
  margin:0 auto;
  padding:3px;
  padding-top: 8px!important;
  padding-top: 5px;
  padding-bottom:10px;
  text-align:left;
  height:18px;
  } 
  .NavTitle{
  float:left;
  font-weight:bold;
  }
  .page{
  padding-right:5px;
  height:18px;
  }
  .page ul{
  list-style:none;
  margin:0px;
  padding:0px
  } 
  .page ul li{
  float:left;
  padding:0px 3px 0px 3px;
  } 
  .page ul li.PageL {
  width:9px;
  height:16px;
  }
  .page ul li.PageR {
  width:9px;
  height:16px;
  }
  .PageLbutton{
  background:url('../../images/BttnLeft.gif') 0px 0px;
  width:9px;
  height:16px;
  display:block;
  }
  .PageRbutton{
  background:url('../../images/BttnRight.gif') 0px 0px;
  width:9px;
  height:16px;
  display:block;
  }
  /*---内容框--*/
  .Content{
  margin:0 auto;
    }    
  /*---日志标题框--*/
  .Content-top{
  height:57px;
  color:#666;
  text-align:left;
  overflow:hidden;
  }
  .link{
  	margin-left: 10px;
  }
  .Content-top .ContentLeft{
  width:0px;
  height:0px;
  float:left;
  }
  .Content-top .ContentRight{
  width:0px;
  height:0px;
  float:right;
  }
  .Content-top .ContentTitle{
  font-size:14px;
  color: #9C2B2B;
  margin-top: 5px;
  }
  .Content-top .ContentAuthor{
  text-align:left;
  font-size:12px;
  display:block;
  font-weight: normal;
  height: 14px;
  margin-top: -6px!important;
  margin-top: -15px;
  padding-left: 30px;
  color: #888;
  } 
  /*---日志内容框--*/
  .Content-body{
  margin:8px auto;
  margin-top: 0px!important;
  margin-top: 0px;
  overflow:hidden;
  text-align:left;
  width:440px;
  line-height:170%
  }
  .Content-body a:link,.Content-body a:visited{
  	color: #a64444;
	border-bottom: 1px dashed #a64444;
	text-decoration: none;
  }
  .Content-body a:hover{
  	color: White;
	background: #a64444;
	text-decoration: none;
  }
  /*---日志内容底部--*/
  .Content-bottom{
  text-align:right;
  border-top: 1px dashed #aa4400;
  height:30px;
  padding:3px 2px 8px 2px;
  color: #72735c;
  }
  .Content-bottom .ContentBLeft{
  width:0px;
  float:left;
  }
  .Content-bottom .ContentBRight{
  width:0px;
  float:right;
  }  

  /*---日志其他信息--*/
  .Content-Info {
  margin:0px 4px 6px 4px;
  padding:0px
  }
  .Content-Info .InfoAuthor{
  text-align:left
  }
  .Content-Info .InfoOther{
  float:right;
  text-align:right;
  }
  /*--评论框--*/
  .comment{
  text-align:left;
  margin:0px 12px 4px 12px
  }
  .commentinfo{
  font-size:11px;
  color:#999;
  }
  .commenttop{
  border-bottom:1px dotted #6B5D52;
  padding:4px;
  }
  .commentcontent{
  padding:10px;
  line-height:140%;
  overflow:hidden;
  width:94%
  }
  /*---UBB框--*/ 
  .UBBPanel{
  border: 1px solid #666;
  }
  .UBBTitle{
  font-weight:bold;
  padding:4px;
  background: #e1f3f5;
  border-bottom:1px dotted #666;
  }
  .UBBContent{
  padding:6px;
  line-height:160%;
  background: #e1f3f5;
  }
  .UBBContent TEXTAREA {
  width:448px;
  margin-bottom:2px;
  }
  :link.UBBLink,:visited.UBBLink{
  font-size:11px;
  font-family:verdana;
  }
  /*---信息框--*/
  #MsgContent{
  float: left;
  border:1px solid #ddd;
  border-top: none;
  border-left: none;
  margin: 0 auto;
  padding:1px; 
  background: #F6F7F0;
  margin-bottom: 10px;
  margin-left: 10px;
  display: inline;
  width: 456px;
  }
  #MsgContent #MsgHead{
  padding:4px;
  color:#555;
  text-align:center;
  font-weight:bold;
  }
  #MsgContent #MsgBody{
  padding:4px;
  line-height:170%;
  }

  .LDialog{
  border:1px solid #795B50;
  margin:3px auto;
  padding:1px;
  }
  .LDialog .LHead{
  background:#BBA097;
  padding:1px;
  color:#fff;
  text-align:center;
  font-weight:bold;
  }
  .LDialog .LBody{
  padding:4px;
  line-height:200%;
  }


/*信息框图标以及文字*/
   .MessageText{
	height:50px;
	margin-right:38px;
	}
   .MessageIcon{
	background:url(../../images/Message.jpg) 0 -3px no-repeat;
	width:48px;
	height:48px;
	float:left;
	}
   .ErrorIcon{
	background:url(../../images/Error.jpg) 0 -3px no-repeat;
	width:48px;
	height:48px;
	float:left;
	}
   .WarningIcon{
	background:url(../../images/Warning.jpg) 0 -3px no-repeat;
	width:48px;
	height:48px;
	float:left;
	}   
   .QuestionIcon{
	background:url(../../images/Question.jpg) no-repeat;
	width:48px;
	height:48px;
	float:left;
	}
  /*---底部样式---*/
  #container #foot{margin:20px  0px 0px 10px ;padding:20px 0px 0px 0px; float:left;}
  #container #foot p{margin-top:0px;color: #000000;}
    /*---文件上传框样式---*/
  .attachmentBody{
  margin:0px;
  font-size:12px;
  background:#F8F6E9
  }
  #Content_copyright{
   text-align: right;
   height: 25px;
	display: block;
	font-size: 10px;
   font-family: Tahoma,Verdana;
	position: relative;
	top: -10px!important;
	top: 0;
  }
   #Content_copyright a{
   color: #AA4400;
   border-bottom: 1px dashed #AA4400;
	text-decoration: none;
  }
  #Content_copyright a:hover{
  	color: White;
	background: #AA4400;
   text-decoration: none;
  }