/*-----------超链接样式---------------
 说明: 伪类:link :visited :hover分别代表超链接的通常、被访问后、和鼠标接触链接是的样式
 a标签代表通用超链接样式
 .menuA代表Blog导航条菜单的样式
 .titleA代表日志标题的样式
 .sideA代表侧栏的超链接样式
 .CategoryA代表树形分类的链接样式
 .more代表更多链接的样式
------------------------------------*/
 a:link,a:visited{
 text-decoration:none;
 color:#000000;
 }
 a:hover{
 color:#000000;
 text-decoration: underline;
 }
 .menuA:link,.menuA:visited{
 text-align: right;
 padding:0px 4px 0px 4px;
 text-decoration:none;
 color:#E8EDBB;
 }  
 .menuA:hover{
 background:none;
 color: #E8EDBB;
 border-bottom: 2px solid red;
 text-decoration: none;
 } 
 .titleA:link,.titleA:visited{
 text-decoration:none;
 font-weight:bold;
 font-family:verdana,宋体;
 text-align:left;
 color: #9C2B2B;
 }
 .titleA:hover{
 color:#29948d;
 text-decoration:underline;
 }
 .sideA:link,.sideA:visited{
 text-decoration:none;
 overflow:hidden;
 display:block;
 width:170px;
 }
 .sideA:hover{
 color: #E8EDBB;
 text-decoration: underline;
 overflow:hidden;
 }
 .CategoryA:link,.CategoryA:visited{
 text-decoration:none;
 }
 .CategoryA:hover{
 color: #E8EDBB;
 text-decoration: underline;
 }
 
 .Content-body .more:link,.Content-body .more:visited{
 font-weight:bold;
 padding-left:18px;
 margin:5px;
 text-decoration:none;
 color: #A64444;
 border: none;
 }
 .Content-body .more:hover{
 color: #29948D;
 text-decoration: underline;
 background: none;
 }  
 .blogsetA:link,.blogsetA:visited{padding:0px 9px 4px 16px ; background:url(../../images/tools.gif) no-repeat;text-decoration:none}
 .mp3A:link,.mp3A:visited{padding:0px 0px 4px 16px; background:url(../../images/mm_snd.gif) no-repeat;text-decoration:none}
 .collA:link,.collA:visited{padding:0px 0px 4px 16px; background:url(../../images/MyFa.gif) no-repeat;text-decoration:none}
 .aboutA:link,.aboutA:visited{padding:0px 0px 4px 16px; background:url(../../images/ico_skdaq.gif) no-repeat;text-decoration:none}
 .normalA:link,.normalA:visited{padding:0px 12px 4px 16px; background:url(../../images/icon_normal.gif) no-repeat;text-decoration:none}
 .listA:link,.listA:visited{padding:0px 0px 4px 16px; background:url(../../images/icon_topic.gif) no-repeat;text-decoration:none}
 .commentA:link,.commentA:visited{padding:0px 0px 4px 14px; background:url(../../images/icon_offsite_red.gif) no-repeat -2px 3px;text-decoration:none}
 /*---超链接样式定义结束---*/