BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px auto; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: ??
}
UNKNOWN {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
DIV {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
FORM {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
UL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
OL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
LI {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
SPAN {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
P {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
IMG {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
A IMG {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
TABLE {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
.non {
	DISPLAY: none
}
A {
	COLOR: #000; TEXT-DECORATION: none; outline-style: none
}
A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
A.fd {
	COLOR: #396588; TEXT-DECORATION: none; outline-style: none
}
A.fd :hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.banner {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; MARGIN-BOTTOM: 10px; MARGIN-LEFT: auto; BORDER-LEFT: #d3d3d3 1px solid; WIDTH: 958px; MARGIN-RIGHT: auto; BORDER-BOTTOM: #d3d3d3 1px solid; HEIGHT: 90px
}
.banner_l {
	BORDER-RIGHT: #d3d3d3 1px solid; FLOAT: left; WIDTH: 760px; HEIGHT: 90px
}
.banner_r {
	FLOAT: right; WIDTH: 190px; COLOR: #696969; LINE-HEIGHT: 20px; PADDING-TOP: 6px
}
.banner_r A {
	COLOR: #696969; TEXT-DECORATION: none
}
.banner_r A.lcnew {
	TEXT-DECORATION: none
}
.banner_r A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.subNav {
	MARGIN-BOTTOM: 10px; MARGIN-LEFT: auto; WIDTH: 960px; MARGIN-RIGHT: auto; PADDING-TOP: 2px; BORDER-BOTTOM: #d3d3d3 1px solid; HEIGHT: 28px
}
.subNav_logo {
	FLOAT: left; WIDTH: 93px; HEIGHT: 24px
}
.subNav_l {
	FLOAT: left; MARGIN-LEFT: 18px; WIDTH: 610px; PADDING-TOP: 10px
}
.subNav_l A {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #000; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.subNav_l A:hover {
	BACKGROUND: #4a4a4a; COLOR: #fff; TEXT-DECORATION: none
}
.subNav_r {
	FLOAT: right; WIDTH: 199px; HEIGHT: 24px
}
.subNav_r_l {
	FLOAT: left; WIDTH: 142px
}
.subNav_r_BTn {
	FLOAT: right; WIDTH: 50px; HEIGHT: 24px
}
.wrap {
	MARGIN-BOTTOM: 20px; MARGIN-LEFT: auto; WIDTH: 960px; MARGIN-RIGHT: auto
}
.m_l {
	BORDER-RIGHT: #b7b7b7 1px solid; BORDER-TOP: #b7b7b7 1px solid; FLOAT: left; BORDER-LEFT: #b7b7b7 1px solid; WIDTH: 638px; BORDER-BOTTOM: #b7b7b7 1px solid
}
.m_l_menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; COLOR: #525252; PADDING-TOP: 10px; BORDER-BOTTOM: #d3d3d3 1px solid; HEIGHT: 18px
}
.m_l_menu A {
	COLOR: #525252; TEXT-DECORATION: none
}
.m_l_menu A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.m_l_cont {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #f8f8f8
}
.m_l_cont_title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; PADDING-TOP: 18px; BORDER-BOTTOM: #d3d3d3 1px solid; TEXT-ALIGN: center
}
.m_l_cont_title H3 {
	FONT-FAMILY: "??‰¦ font-size:20px;}
.m_l_cont_note { padding:6px 0 16px 0; text-align:center; color:#525252;}
.m_l_cont_note a{ color:#c00; text-decoration: none;}
.m_l_cont_note a:hover{ text-decoration:underline; color:#c00;}
.m_l_cont_note1 { border:1px dashed #D3D3D3; background-color:#FFFFFF; padding:6px 12px 4px 12px; line-height:24px; color:#006600;}
.m_l_cont_note1 a{ color:#0E60AC; text-decoration: underline;}
.m_l_cont_note1 a:hover{ text-decoration:underline; color:#c00;}
.m_l_cont_note1_r { text-align:right;}
.m_l_cont_text { font-size:14px; line-height:26px; padding:6px 0;}
.m_l_cont_text a{ color:#0000FF; text-decoration: underline;}
.m_l_cont_text a:hover{ text-decoration:underline; color:#c00;}
.m_l_cont_text ul { line-height:30px; padding-left:20px; color:#0000FF;}

.m_l_cont_text ol { line-height:30px; padding-left:20px; color:#000;}
.m_l_cont_text ol li { color:#000; background-image:url(../images/dt1.gif); background-repeat:no-repeat; padding-left:14px;}


.m_l_cont_text p { margin:10px 0;text-indent:28px;}
.m_l_cont_text_note { text-align:right; font-size:12px;}

/* ?????§Ò?/
.m_l_cont_tips { padding:13px 0 8px 0; border-bottom:1px solid #D3D3D3; border-top:1px solid #D3D3D3; text-align:center;}
.m_l_cont_tips a{ color:#000; text-decoration: underline;}
.m_l_cont_tips a:hover{ text-decoration:underline; color:#c00;}
.m_l_list { height:156px; background-color:#F8F8F8; padding:0 20px;}
.m_l_list_l { width:290px; float:left; padding-top:10px; line-height:24px; color:#396588;}
.m_l_list_l a{ color:#396588; text-decoration: none;}
.m_l_list_l a:hover{ text-decoration:underline; color:#c00;}
.m_l_list_l1 { font-size:14px; font-weight:bold; color:#006600; padding-left:4px;}
.m_l_list_l1 a{ color:#006600; text-decoration: none;}
.m_l_list_l1 a:hover{ text-decoration:underline; color:#c00;}
.m_l_list_r { width:290px; float:right; padding-top:10px; line-height:24px; color:#396588;}
.m_l_list_r a{ color:#396588; text-decoration: none;}
.m_l_list_r a:hover{ text-decoration:underline; color:#c00;}
.m_l_list_r1 { font-size:14px; font-weight:bold; color:#006600; padding-left:4px;}
.m_l_list_r1 a{ color:#006600; text-decoration: none;}
.m_l_list_r1 a:hover{ text-decoration:underline; color:#c00;}
.m_l_list_hot { height:106px; background-color:#FFF; padding-left:16px;}
.m_l_list_hot1 { width:100px; height:80px; border:1px solid #B7B7B7; padding:1px; margin:12px 8px 10px 8px; float:left;}

/* ??? */
.m_l_comm { height:30px; padding:6px 0px 4px 0px; border-bottom:1px solid #D3D3D3; border-top:1px solid #D3D3D3; padding:0 20px;}
.m_l_comm_l { width:430px; float:left; line-height:20px; padding-top:10px;}
.m_l_comm_l a{ color:#396588; text-decoration: none;}
.m_l_comm_l a:hover{ text-decoration:underline; color:#396588;}
.m_l_comm_l1 { font-size:14px; font-weight:bold; color:#396588;}
.m_l_comm_l_view { width:95px; height:21px; background-image:url(../images/View_bg.gif); border:0px; padding-top:6px; font-weight:bold; color:#396588;}
.m_l_comm_r { width:120px; height:45px; float:right;}
.m_l_comm_r_good { width:54px; height:45px; float:left; background-image:url(../images/good_bg.gif); text-align:center; margin-top:6px;}
.m_l_comm_r_good1 { font-size:17px; font-weight:bold; color:#A90000; padding-top:7px;}
.m_l_comm_r_good2 { padding-top:5px;}
.m_l_comm_r_good3 { width:54px; height:45px; float:left; background-image:url(../images/good_bg.gif); text-align:center; margin-top:6px; margin-left:7px;}

.m_l_Comments { background-color:#F8F8F8; padding:16px 20px 14px 20px; border-bottom:1px solid #D3D3D3;}
.m_l_Comments td { line-height:18px; padding:6px 4px 4px 8px;}
.m_l_Comments1 { background-color:#F8F8F8; padding:16px 20px 14px 20px;}
.m_l_Comments2 { height:86px; padding-top:12px;}


/* ??? */
.m_r { width:310px; border:1px solid #AACAEE; float:right;}

/* ?????*/
.m_r_news { height:16px; border-bottom:1px solid #E2E2E2; background-image:url(../images/sideBar_bg.gif); padding:10px 12px 0px 12px;}
.m_r_news a{ padding-bottom:8px; color:#396588; text-decoration:none;}
.m_r_news a:hover{ text-decoration:underline; color:#c00;}
.m_r_news h2 { font-weight:bold; font-size:12px;}
.m_r_news_l { float:left;}
.m_r_news_r { float:right;}
.m_r_news_list { line-height:24px; padding:6px 12px 2px 10px; border-bottom:1px solid #AACAEE;}
.m_r_news_im { height:114px; padding:13px 32px 0px 32px; background-color:#EEE;}
.m_r_news_im_l ,m_r_news_im_r { width:104px; float:left;}
.m_r_news_im_l1 { width:100px; height:80px; border:1px solid #B7B7B7; background-color:#FFF; padding:1px;}
.m_r_news_im_l2 { text-align:center; padding-top:8px;}
.m_r_news_im_r { float:right;}
.m_r_book_im { height:158px; padding:9px 12px 0px 12px; background-color:#EEE;}
.m_r_book_im_l { width:98px; height:144px; float:left; border:1px solid #B7B7B7;}
.m_r_book_im_r { width:170px; line-height:22px; float:right; padding-top:2px;}
.m_r_book_im_r h2 { font-weight:bold; font-size:12px;}
.m_r_book_im_r1 { color:#505050; line-height:20px;}

/* ?????? */
.m_r_Alerts { padding:10px; height:22px;}
.m_r_Alerts1 { float:left; width:140px;}
.m_r_Alerts2 { float:left; width:54px; padding-top:8px; padding-left:4px;}
.m_r_Alerts2 a{ padding-bottom:8px; color:#FF0000; text-decoration:none;}
.m_r_Alerts2 a:hover{ text-decoration:underline; color:#c00;}
.m_r_Alerts3 { float:left; width:44px;}

/* ??? */
.m_r_banner { width:300px; height:258px; padding:5px; border-bottom:1px solid #AACAEE;}

/* ???*/
.foot { width:960px; margin-left:auto; margin-right:auto; border-top:1px solid #000; padding-top:15px; height:25px; text-align:center;}

/* ???? */
.text { width:140px; height:19px; border:1px solid #606060; background-color:#FFF;}
.test1 { width:133px; height:17px; border:1px solid #B2B2B2; background-color:#FFF;}
.test2 { width:100%; height:71px; border:1px solid #B2B2B2; background-color:#FFF;}
.test3 { width:45px; height:17px; border:1px solid #B2B2B2; background-color:#FFF;}
.test4 { width:40px; height:20px; border:1px solid #AAA; padding-top:2px; text-align:center;}

/* ???? */
.fa { font-size:12px; color:#c00;}
.fb { color:#606060;}
.fc { font-weight:bold;}
.fd { color:#c00;}

/*¦Â???‘ë??*/
.cle { font: 0px/0px sans-serif;clear: both;display: block; }
}
