<?xml version="1.0" encoding="utf-8"?>
<!-- 
   用户API配置文件
-->
<config>
  <!--userapi系统参数-->
  <sysparam>    
    <add key="WriteFields" value="UserName,Email,MSN,QQ,WebSite,Addr,Tel,Skype,GTalk"></add>
    <add key="AllFields" value="Email,Password,UserName,State,LastLoginTime,LastLoginIP,LoginTimes,Province,City,RegTime,RegIP,Portrait,InviterID,VerifyCode,ConfirmTime,UserID,Sex,Birthday,BirthidayDisplay,Constellation,MSN,GTalk,QQ,Skype,Mobile,MobilePrivacy,EmailPrivacy,Tel,Addr,WebSite,Favourite,FavMusics,FavMovies,FavCartoons,FavGames,FavSports,FavBooks,FavAdages,AppreciateMen,Presentation,Vocation,HomeProv,HomeCity,MSNPrivacy,GTalkPrivacy,QQPrivacy,SkypePrivacy,TelPrivacy,AddrPrivacy,WebSitePrivacy" />
  </sysparam>
  <apptype>
    <add key="1" value="生活娱乐"></add>
    <add key="2" value="新闻资讯"></add>
    <add key="3" value="实用工具"></add>
    <add key="4" value="休闲游戏"></add>
    <add key="5" value="其它"></add>
  </apptype>
</config>
