<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>中華電信</title>
    <!--[$util_link.html]-->
</head>
<body>
<form id="form1" name="form1" method="post" action="Default.aspx">
<div id="header">
<!--[$util_head.html]-->
</div>
<div id="main">
<!--[$util_left.html]-->
<!--[$util_right.html]-->
</div>
<div class="clear">&nbsp;</div>
<div id="footer">
<!--[$util_foot.html]-->
</div>
</form>
</body>
</html>