<div class="mainmid left">
    	<div class="mainmidtt"><strong>公司簡介</strong></div>
        <div class="mainmidintro">
        	<p>中華電信（香港）國際有限公司，是以經營通訊、證券、房地產開發為主的集團性質的公司，公司總部位於香港九龍，大陸總部座<span class="ablank"></span>落於海西經濟區經濟中心的福州市，其全資子公司有：福建訊通天下資訊<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;技術有限公司、杭州優恒網路技術有限公司、<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;陝西融泰投資諮詢有限公司、東方財經（福<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;州）網路有限公司、合肥（投資）公司、四<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;川（地產）公司、長沙（地產）公司等。企業現有員工500餘人，擁有一支深諳專業技術知識和豐富管理經驗的員工隊伍。依託強大的科研力量，公司擁有多項自主知識產權，憑藉科學決策、高效管理和充滿活力的機制，企業經營業績始終保持著快速穩健的發展態勢。 公司始終堅持“提升品牌管理、服務全球華人”的理念和“為人以誠、持業以...</p>
            <span class="right morelink"><a href="about.html" title="查看詳細">查看詳細</a></span>
        </div>
        <div class="mainmidbot">&nbsp;</div>
    </div>
    <div class="mainright left">
    	<div class="newslist left">
    		<div class="neswlisttop"><strong>新聞列表</strong></div>
            <div class="neswlistmid">
                <ul>
                     <!--[$news]-->
               
                </ul>
                <div class="morebtn"><a href="<!--[$newsList]-->" title="更多新聞"><img src="/images/morebtn.jpg" /></a></div>
                <a href="/contact.html" title="聯繫我們"><img src="/images/contus.jpg" alt="聯繫我們" /></a>
            </div>
            <div class="neswlistbot">&nbsp;</div>
        </div>
    </div>  