 <div class="othercont left">
    	<div class="conttop left"><strong>企業新聞</strong></div>
        <div class="contmid left">
	
            <!--[$newsList]-->
            <p class="turnpage left"><a href="<!--[$newsFirstPage]-->">首頁</a>&nbsp;&nbsp;&nbsp;<a href="<!--[$newsPrevPage]-->">上頁</a>&nbsp;&nbsp;&nbsp;<a href="<!--[$newsNextPage]-->">下頁</a>&nbsp;&nbsp;&nbsp;<a href="<!--[$newsLastPage]-->">末頁</a>&nbsp;&nbsp;&nbsp;第<!--[$newsCurrentIndex]-->頁/共<!--[$newsTotalPageCount]-->頁&nbsp;&nbsp;&nbsp;共<!--[$newsTotalCount]-->條記錄</p>
        </div>
        <div class="contbot left">&nbsp;</div>
    </div> 