 <div class="othercont left">
    	<div class="conttop left"><strong>您的位置：</strong><a href="/index.html">中華電信首頁</a>&nbsp;&gt;&nbsp;<a href="/NewsPages/newsPages0.html">企業新聞</a>&nbsp;&gt;&nbsp;<!--[$title]--></div>
        <div class="contmid left">
        	<h1><!--[$title]--></h1>
            <p class="texttip">發布者:<span><!--[$author]--></span>&nbsp;&nbsp;&nbsp;&nbsp;發布時間:<!--[$createDate]--></p>
            <div class="textcont">
                <div style=" text-align:left; padding:15px;">
            	<!--[$newsDetail]-->
            	</div>
            </div>
        </div>
        <div class="contbot left">&nbsp;</div>
    </div>  