<div class="othercont left">
    	<div class="conttop left"><strong>經營訊通</strong></div>
        <div class="contmid left" style="padding-top:0;">
          <!--	 <div class="cplist left">
           		<a href="#" title="UUCall網絡電話"><img src="images/cp1.jpg" /></a>
                <dl>
                	<dt><strong><a href="#">UUCall網絡電話</a></strong></dt>
                    <dd>擁有注冊用戶超過3000萬的UUCall電話寶網絡電話，可以直接通過您的電腦撥打全球任意一部電話或者手機，價格低廉、通話清晰，是最受網友喜愛的免費網絡電話軟件。</dd>
                </dl>
           	</div>
            <div class="cplist left">
           		<a href="#" title="東方財經（福州）網絡有限公司"><img src="images/cp2.jpg" /></a>
                <dl>
                	<dt><strong><a href="#">東方財經（福州）網絡有限公司</a></strong></dt>
                    <dd>東方財經（福州）網絡有限公司是一家依托互聯網提供股市財經資訊的專業公司。公司合作方擁有中國證監會首批頒發的證券投資咨詢牌照。</dd>
                </dl>
           	</div>-->
           	<!--[$data]-->
        </div>
        <div class="contbot left">&nbsp;</div>
    </div> 