/*-----------超链接样式------Http://www.wangchuang.cn-------
 说明: 伪类:link :visited :hover分别代表超链接的通常、被访问后、和鼠标接触链接是的样式
 a标签代表通用超链接样式
 .menuA代表Blog导航条菜单的样式
 .titleA代表日志标题的样式
 .sideA代表侧栏的超链接样式
 .CategoryA代表树形分类的链接样式
 .more代表更多链接的样式
-----------------Http://www.wangchuang.cn-----------------------*/
 a:link,a:visited{text-decoration:none;color:#80B7D5;}
 a:hover{color:#FF9800;text-decoration:none;}

 .sidepanel a:link,.sidepanel a:visited{text-decoration:none;color:#7b96a5;}
 .sidepanel a:hover{color:#A6C2CD;text-decoration:none;}

 .menuA:link,.menuA:visited{float:left;height:17px;text-align:center;padding:0px 4px 0px 4px;text-decoration:none;color:#1F3835;}  
 .menuA:hover{text-decoration:none;color:#eee;background-image: url(fade.gif);} 
 .titleA:link,.titleA:visited{text-decoration:none;font-weight:bold;font-family:verdana,宋体;text-align:left;color:#d3d360;}
 .titleA:hover{color:#FFFFCC;text-decoration:none;}
 .sideA:link,.sideA:visited{color: #d3d360;text-decoration:none;padding-left:16px;background:url(arrow.gif) 2px 3px no-repeat;height:16px;overflow:hidden;display:block;margin-bottom:2px;width:170px;}
 .sideA:hover{text-decoration:none;padding-left:16px;background:url(arrow.gif) 2px -13px no-repeat;height:16px;overflow:hidden}
 .CategoryA:link,.CategoryA:visited{text-decoration:none;color:#d3d360;}
 .CategoryA:hover{border-bottom-style: dashed;border-bottom-width: 1px;color:#ffffff}
 
 .more:link,.more:visited{font-weight:bold;background:url(bullet-arrow.gif) no-repeat 0px 0px;padding-left:18px;margin:5px;text-decoration:none;}
 .more:hover{background:url(bullet-arrow.gif) no-repeat 0px -15px;}  
 .blogsetA:link,.blogsetA:visited{padding:0px 9px 4px 16px ; background:url(../../images/tools.gif) no-repeat;text-decoration:none}
 .mp3A:link,.mp3A:visited{padding:0px 0px 4px 16px; background:url(../../images/mm_snd.gif) no-repeat;text-decoration:none}
 .collA:link,.collA:visited{padding:0px 0px 4px 16px; background:url(../../images/MyFa.gif) no-repeat;text-decoration:none}
 .aboutA:link,.aboutA:visited{padding:0px 0px 4px 16px; background:url(../../images/ico_skdaq.gif) no-repeat;text-decoration:none}
 .normalA:link,.normalA:visited{padding:0px 12px 4px 16px; background:url(../../images/icon_normal.gif) no-repeat;text-decoration:none}
 .listA:link,.listA:visited{padding:0px 0px 4px 16px; background:url(../../images/icon_topic.gif) no-repeat;text-decoration:none}
 .commentA:link,.commentA:visited{padding:0px 0px 4px 14px; background:url(../../images/icon_offsite_red.gif) no-repeat -2px 3px;text-decoration:none}
 /*---超链接样式定义结束---*/