<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="From" value="system@youhuo.mobi" />
    <add key="DisplayName" value="有货管理员" />
    <add key="Server" value="mail.youhuo.mobi" />
    <add key="Port" value="25" />
    <add key="UserName" value="system@youhuo.mobi" />
    <add key="Password" value="3363703" />
    <add key="UseSSL" value="False" />
  </appSettings>
</configuration>