<?xml version="1.0" encoding="utf-8"?>
<OS>
	<State>
    <st ID="0" NAME="等待处理"/>
    <st ID="2" NAME="已付款"  />
    <st ID="3" NAME="待发货"  />
    <st ID="4" NAME="货已发"  />
    <st ID="5" NAME="货已收"  />
    <st ID="6" NAME="交易完成"  />
    <st ID="7" NAME="退单"  />
    <st ID="8" NAME="问题单"  />
    <st ID="-1" NAME="用户已取消" />
	</State>
	<TODOS>
		<Todo ID="0" NAME="未处理" />
		<Todo ID="1" NAME="短信确认"/>
		<Todo ID="2" NAME="电话确认1" />
		<Todo ID="3" NAME="电话确认2"  />
		<Todo ID="-1" NAME="处理完成" />
	</TODOS>
	<PaiSong>
    <ps ID="0" NAME="未派送" />
		<ps ID="1" NAME="正在派送" />
		<ps ID="2" NAME="已签收"/>
    <ps ID="3" NAME="客户拒收" />
    <ps ID="4" NAME="确认返回" />
    <ps ID="5" NAME="已返货" />
    <ps ID="6" NAME="商品遗失" />
  </PaiSong>
  <PSendway>
    <psd ID="0" NAME="顺丰快递"/>
    <psd ID="1" NAME="宅急送"/>
    <psd ID="2" NAME="星辰急便"/>
    <psd ID="3" NAME="EMS"/>    
  </PSendway>
	<Question>
    <qs ID="0" NAME="无" />
    <qs ID="1" NAME="用户信息不正确" />
		<qs ID="2" NAME="无人接听" />
		<qs ID="3" NAME="不是本人订购"/>
		<qs ID="4" NAME="乱填写" />
		<qs ID="5" NAME="其它" />
	</Question>
  <Cancel>
    <qs ID="0" NAME="无" />
    <qs ID="1" NAME="对产品不满意" />
    <qs ID="2" NAME="价格太贵" />
    <qs ID="3" NAME="等待太久"/>
  </Cancel>
  <PrintCH>
    <ps ID="1" NAME="福州顺丰"/>
    <ps ID="2" NAME="福州顺丰待打单"/>
    <ps ID="3" NAME="福州顺丰完成"/>
    <ps ID="4" NAME="福州宅急送"/>
    <ps ID="5" NAME="福州宅急送待打单"/>
    <ps ID="6" NAME="福州宅急送完成"/>
    <ps ID="7" NAME="福州EMS"/>
    <ps ID="8" NAME="福州EMS已审核"/>
    <ps ID="9" NAME="福州EMS待打单"/>
    <ps ID="10" NAME="福州EMS完成"/>
    <ps ID="11" NAME="无法到达"/>
    <ps ID="0" NAME="未分单" />
    <ps ID="12" NAME="商务已开单" />
	</PrintCH>
</OS>
