</div>
<div class="clearpix"></div>
<div id="foot">
    <p class="cont13"><a href="$webpath/register$exname">注册</a> | <a href="javascript:;" onclick="login('$loginurl',$iscode);">登录</a> | <a href="$webpath/home/friend/search$exname">找朋友</a> |  <a href="$webpath/home/friend/city$exname?q=city">同城网友</a> |  <a href="$webpath/home/friend/invite$exname?q=site">邀请朋友</a> |  <a href="$webpath/space/info/privacy$exname">隐私设置</a> |  <a href="http://www.jusns.com" target="_blank">JuSNS官方</a> |   <a href="http://www.julaa.com" target="_blank">聚拉网(Julaa.com)</a> |  <a href="$webpath/help/default$exname">帮助中心</a> | <a href="$webpath/app/gbook/default$exname?uid=-1">给管理员留言</a> </p>
	<p class="cont13">${copyright} powered by ${version}</p>
	</div>
</div>

</body>
</html>
<script type="text/javascript" language="javascript">
if(document.getElementById("timePlace")!=null)
{
    jQuery(document).ready(function()
    {
        lineheight();
        var timer0 = null;
        var week = new Array( "日", "一", "二", "三", "四", "五", "六" );
        timer0 = setTimeout(showTime,1000);
        function showTime()
        {
           clearTimeout(timer0);
           dt = new Date();
           var weekday = week[dt.getDay()];
           var tp = document.getElementById("timePlace");
           result = dt.toLocaleDateString()+" 星期"+weekday;
           tp.innerHTML = result;
           timer0 = setTimeout(showTime,1000);              
        } 
    }); 
}


</script>