<ul class="default-app">
    <li><a href="$webpath/system/default$exname">会员管理</a></li>
    <li><a href="$webpath/system/news$exname">内容管理</a></li>
    <li><a href="$webpath/system/comment$exname">评论管理</a></li>
    <li><a href="$webpath/system/book$exname">留言管理</a></li>
    <li><a href="$webpath/system/report$exname">举报管理</a></li>
    <li><a href="$webpath/system/mail$exname">短信管理</a></li>
    <li><a href="$webpath/system/app$exname">应用程序</a></li>
    <li><a href="$webpath/system/ads$exname">广告管理</a></li>
    <li><a href="$webpath/system/links$exname">友情链接</a></li>
    <li><a href="$webpath/system/sys$exname">系统设置</a></li>
</ul>


