#parse("_head.html")
<div style="text-align:left;width:450px;margin:30px auto 10px auto;">
<div class="logins">
<div class="login_box">
    <div class="pitem1 reshow strong">激活电子邮件</div>
    <div class="line"></div>
    <form action="" id="form1" method="post">
        <div class="pitem1">
         电子邮件：<input type="text" name="email" id="email"   value="#if($email)$email#end"  class="f-text" style="width:250px;" />
        </div>
        <div class="pitem1"><input type="submit" name="button1" id="SubmitSend" class="btn_gray6" onclick="return checkdata();" value="激活电子邮件"/> 
        </div>
    </form>
</div>
</div>
</div>

 
#parse("_foot.html")
<script type="text/javascript">
    function checkdata()
    {
        var email=jQuery("#email").val();
        if(isEmail(email))
        {
                 showErrorResult("填写正确的电子邮件");return false;
        }
        else
        {
            return true;
        }
    }
</script>