#parse("_header.html")
<div id="content">
    <div class="post">
        <h1 class="post-title">${post.title}</h1>
        <div class="post-meta">
            <span class="post-author">${post.author.link}</span>
            <span class="post-date">$post.createdate.tostring("dd-MM-yyyy")</span>
            <span class="post-category">${post.category.link}</span>
            <span class="post-view">view(${post.viewcount})</span>
            <span class="post-comment"><a href="#comments">comments($post.commentcount)</a></span>
        </div>
        <div class="post-content">
            ${post.content}
        </div>
        <div class="post-tag">tag:
            #foreach($item in $post.tags)
            <a href="${item.url}" title="${item.description}">${item.name}</a>(${item.count})
            #end
        </div>
        #*
        <div>
            prev: #if($post.previous.postid>0) ${post.previous.link} #else nothing #end
            <br />
            next: #if($post.next.postid>0) ${post.next.link} #else nothing #end
        </div>
        *#
        <h3>about article</h3>
        <ul class="post-related">
            #foreach($item in $post.relatedposts)
            <li><a href="${item.url}">${item.title}</a>(${item.viewcount})</li>
            #end
        </ul>
        #parse("_comment.html")
    </div>
</div>
#parse("_sidebar.html")
#parse("_footer.html")