<ul>
<li><ul><li>标题:</li><li><input  type="text" id="TxtTitle" value="<!--[$n_title]-->"/></li><li></li></ul></li>
<li><ul><li>类型:</li><li><!--[$n_type]--></li><li></li></ul></li>
<li><ul><li>内容:</li><li>			<textarea name="FCKeditor1" rows="10" cols="80" style="width: 100%; height: 200px">&lt;p&gt;This is some &lt;strong&gt;sample text&lt;/strong&gt;. You are using &lt;a href="http://www.fckeditor.net/"&gt;FCKeditor&lt;/a&gt;.&lt;/p&gt;</textarea></li><li></li></ul></li>
<li><ul><li>来源:</li><li><input  type="text" id="TxtSource" value="<!--[$n_source]-->"/></li><li></li></ul></li>
<li><ul><li>发布人:</li><li><input  type="text" id="TxtAuthor" value="<!--[$n_author]-->"/></li><li></li></ul></li>
<li><ul><li></li><li><input  type="button" id="提交"/></li><li></li></ul></li>
</ul>