
	<div class="headtop left">
    	<a href="http://www.hkcnt.com" class="logo left"  title="中華電信">中華電信</a>
        <a href="#" class="sitemap right" title="站点地图">站點地圖</a>
    </div>
    <div class="menu left">
    	<ul>
    	<!--tmbg-->
            <li><a href="/index.html" class="<!--[$indexClass]-->" title='首頁'>首&nbsp;&nbsp;&nbsp;&nbsp;頁</a></li>
            <li><a href="/about.html" class="<!--[$aboutClass]-->" title='公司簡介'>公司簡介</a></li>
            <li><a href="/NewsPages/newsPages0.html" class="<!--[$newsClass]-->" title='企業新聞'>企業新聞</a></li>
            <li><a href="/xuntong.html" class="<!--[$xuntongClass]-->" id="jyxt" onmouseover="OutMenu('xuntong' , 'jyxt');" onmouseout="HidMenu('xuntong');" title='经营通讯'>經營訊通</a></li>
            <li><a href="/dichang.html" class="<!--[$dichangClass]-->" id="jydc" onmouseover="OutMenu('othermenu' , 'jydc');" onmouseout="HidMenu('othermenu');" title='地産开发'>地産开发</a></li>
            <li><a href="/zhengquang.html" class="<!--[$zhengquangClass]-->" id="jyzq" onmouseover="OutMenu('addmenu' , 'jyzq');" onmouseout="HidMenu('addmenu');" title='证劵投资'>证劵投资</a></li>
            <li><a href="/employee.html" class="<!--[$employeeClass]-->" title='招賢納才'>招賢納才</a></li>
            <li><a href="/contact.html" class="<!--[$contactClass]-->" title='聯系我們'>聯系我們</a></li>

       </ul> 
       <dl id="xuntong" class="outbordermenu" style="display:none;">
            <!--[$xuntong]-->
       		
       </dl> 
       <dl id="othermenu" class="outbordermenu" style="display:none;">
            <!--[$dichan]-->
       		
       </dl>
        <dl id="addmenu" class="outbordermenu" style="display:none;">
       		 <!--[$zhengquang]-->
       </dl>                                  	
    </div>
    <div class="flascroll left" id="flascroll">
		<div id="loading">请稍候...</div>
		<div id="ts_bg" style="display:none;">文字标题的背景</div>
		<div id="btn_bg">&nbsp;</div>
        <div id="pics">
     		<ul>
        		<li><a href="#"><img src="/images/flaimg1.jpg" alt="" /></a></li>
            	<li><a href="#"><img src="/images/flaimg2.jpg" alt="" /></a></li>
           		<li><a href="#"><img src="/images/flaimg3.jpg" alt="" /></a></li>
            	<li><a href="#"><img src="/images/flaimg4.jpg" alt="" /></a></li>
        	</ul>
         </div>
         <div id="ts" style="display:none;">
     		<ul><li></li><li></li><li></li><li></li></ul>
         </div>
         <div id="btn"><ul><li>1</li><li>2</li><li>3</li><li>4</li></ul></div>
    </div>
