BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
ADDRESS {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
IFRAME {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
PRE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
CAPTION {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
LEGEND {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
BUTTON {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
TEXTAREA {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: inherit
}
OL {
	LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none
}
FIELDSET {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
:unknown {
	outline: 0
}
TABLE {
	BORDER-COLLAPSE: collapse; border-spacing: 0
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
BODY {
	BACKGROUND: url(body_bg.jpg) #deebf3 repeat-x; FONT: 12px/1.5 Tahoma, Helvetica, Arial, sans-serif; COLOR: #333; TEXT-ALIGN: center
}
.clearfix {
	DISPLAY: inline-block
}
 HTML .clearfix {
	HEIGHT: 1%
}
.clearfix {
	DISPLAY: block
}
.clearfix:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.hidden {
	DISPLAY: none
}
HTML {
	HEIGHT: 100%
}
BODY {
	HEIGHT: 100%
}
 HTML .container {
	HEIGHT: 100%
}
.container {
	MIN-HEIGHT: 100%; BACKGROUND: #fff; MARGIN: auto; WIDTH: 930px; TEXT-ALIGN: left
}
.container .wrap {
	MARGIN: 0px 10px
}
.col1 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.col2 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.col3 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.col4 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.col5 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.news_sort {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.layout-cols2 .col1 {
	OVERFLOW: hidden; WIDTH: 630px
}
.layout-cols2 .col2 {
	OVERFLOW: hidden; WIDTH: 270px; MARGIN-RIGHT: 0px
}
.layout-cols3 .col1 {
	WIDTH: 280px
}
.layout-cols3 .col2 {
	WIDTH: 310px
}
.layout-cols3 .col3 {
	WIDTH: 300px; MARGIN-RIGHT: 0px
}
.layout-cols2 {
	MARGIN-BOTTOM: 0px! important
}
.layout-cols3 {
	MARGIN-BOTTOM: 0px! important
}
.layout-col2ultra .col1 {
	OVERFLOW: hidden; WIDTH: 280px
}
.layout-col2ultra .col2 {
	WIDTH: 620px; MARGIN-RIGHT: 0px
}
.layout-col2ultra .col2 .span2 {
	WIDTH: 620px; MARGIN-RIGHT: 0px
}
.layout-col2ultra .col2 .col1 {
	WIDTH: 310px
}
.layout-col2ultra .col2 .col2 {
	WIDTH: 300px
}
.layout-col2ultra .col2 .span2 {
	CLEAR: both; MARGIN-BOTTOM: 10px
}
.box {
	BORDER-RIGHT: #99bbdd 1px solid; BORDER-TOP: #99bbdd 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: #99bbdd 1px solid; BORDER-BOTTOM: #99bbdd 1px solid
}
.box_1 UL {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.box .center_box LI {
	FONT-SIZE: 14px; LINE-HEIGHT: 25px
}
.box .center_box LI SPAN {
	FONT-SIZE: 12px; FLOAT: right; COLOR: #a8a8a8
}
.box .down_box LI {
	FONT-SIZE: 12px; LINE-HEIGHT: 25px
}
.box .down_box LI SPAN {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px
}
.box .down_box LI SPAN A {
	COLOR: #275c91
}
.box_bt {
	PADDING-RIGHT: 4px; PADDING-LEFT: 24px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(title_icon.gif) #f6f6f6 no-repeat 10px 12px; PADDING-BOTTOM: 4px; MARGIN: 5px 7px 4px; COLOR: #275c91; PADDING-TOP: 4px
}
.box_bt A:link {
	COLOR: #275c91
}
.box_bt A:visited {
	COLOR: #275c91
}
.box_bt A:hover {
	COLOR: #275c91; TEXT-DECORATION: underline
}
.box_text {
	BACKGROUND: url(title_bg.gif) repeat-x 50% bottom; PADDING-BOTTOM: 6px; MARGIN: 0px 7px; COLOR: #8c8c8c; TEXT-INDENT: 24px; LINE-HEIGHT: 21px
}
.box_title {
	BACKGROUND: url(news_bg.gif); POSITION: relative; HEIGHT: 28px
}
.box_title H3 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 120%; PADDING-BOTTOM: 0px; MARGIN: 1px 1px 0px; COLOR: #275c91; LINE-HEIGHT: 26px; PADDING-TOP: 0px; HEIGHT: 26px
}
.box_title SPAN {
	PADDING-RIGHT: 5px; FLOAT: right; PADDING-TOP: 5px
}
.box .left_box LI {
	LINE-HEIGHT: 24px
}
.box .hot_box LI {
	PADDING-LEFT: 14px; BACKGROUND: url(nav_icon.gif) no-repeat 5px 10px; LINE-HEIGHT: 27px
}
.box .hot_box LI A:link {
	COLOR: #2c6aa9
}
.box .hot_box LI A:visited {
	COLOR: #2c6aa9
}
.box .hot_box LI A:hover {
	COLOR: #2c6aa9; TEXT-DECORATION: underline
}
.box .tj_box LI {
	CLEAR: both; PADDING-RIGHT: 7px; PADDING-LEFT: 10px; BACKGROUND: url(title_bg.gif) repeat-x 50% bottom; PADDING-BOTTOM: 0px; OVERFLOW: hidden; COLOR: #a3a3a3; PADDING-TOP: 5px; HEIGHT: 100px
}
.box .tj_box LI SPAN {
	PADDING-RIGHT: 10px; FLOAT: left
}
.box .zz_box LI {
	CLEAR: both; PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; OVERFLOW: hidden; COLOR: #a3a3a3; PADDING-TOP: 7px; HEIGHT: 175px
}
.box .zz_box LI SPAN {
	PADDING-RIGHT: 10px; FLOAT: left
}
.box .pl_box LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; COLOR: #666666; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid
}
.box .pl_box LI SPAN {
	COLOR: #999999
}
.box .pl_box LI H6 {
	PADDING-BOTTOM: 6px; COLOR: #ff3300; TEXT-INDENT: 24px; TEXT-ALIGN: left
}
.box .pl_box LI A.vo {
	COLOR: #2c6aa9
}
.ad_left {
	MARGIN-BOTTOM: 10px
}
.box .cy_box LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url(title_bg.gif) repeat-x 50% bottom; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.box .cy_box LI H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; COLOR: #2c2c2c
}
.box .cy_box LI A:link {
	COLOR: #2c6aa9
}
.box .cy_box LI A:visited {
	COLOR: #2c6aa9
}
.box .cy_box LI A:hover {
	COLOR: #2c6aa9; TEXT-DECORATION: underline
}
.box .sc_box LI {
	PADDING-RIGHT: 11px; PADDING-LEFT: 11px; BACKGROUND: url(title_bg.gif) repeat-x 50% bottom; PADDING-BOTTOM: 11px; LINE-HEIGHT: 21px; PADDING-TOP: 11px
}
.box .sc_box LI SPAN {
	PADDING-RIGHT: 10px; FLOAT: left
}
.box .sc_box LI SPAN B {
	DISPLAY: block; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.box .sc_box LI A:link {
	COLOR: #2c6aa9
}
.box .sc_box LI A:visited {
	COLOR: #2c6aa9
}
.box .sc_box LI A:hover {
	COLOR: #2c6aa9; TEXT-DECORATION: underline
}
.box .tab H3 {
	FONT-SIZE: 12px; FLOAT: left
}
.box .tab UL.tabitem {
	FONT-SIZE: 12px; FLOAT: left
}
.box .tab UL.tabitem LI {
	FONT-SIZE: 12px; FLOAT: left
}
.box .tab UL.tabitem {
	LINE-HEIGHT: 2.3
}
.box .tab UL.tabitem LI {
	MARGIN: 0px -1px -1px 0px; POSITION: relative
}
.box .tab UL.tabitem A {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.box .tab UL.tabitem A:link {
	COLOR: #275c91
}
.box .tab UL.tabitem A:visited {
	COLOR: #275c91
}
.box .tab UL.tabitem A.current {
	BORDER-RIGHT: #99bbdd 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #99bbdd 0px solid; PADDING-LEFT: 4px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; BORDER-LEFT: #99bbdd 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #99bbdd 0px solid
}
.box .tab UL.tabitem A:hover {
	BORDER-RIGHT: #99bbdd 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #99bbdd 0px solid; PADDING-LEFT: 4px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; BORDER-LEFT: #99bbdd 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #99bbdd 0px solid
}
HTML:unknown .box .tab UL.tabitem A.current {
	PADDING-BOTTOM: 1px; POSITION: relative
}
HTML:unknown .box .tab UL.tabitem A:hover {
	PADDING-BOTTOM: 1px; POSITION: relative
}
A:link {
	COLOR: #333; TEXT-DECORATION: none
}
A:visited {
	COLOR: #333; TEXT-DECORATION: none
}
.header {
	MARGIN: 0px 10px 5px
}
.topnav {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: #f5f5f5; PADDING-BOTTOM: 0px; MARGIN: 0px -10px 5px; LINE-HEIGHT: 2; PADDING-TOP: 0px; BORDER-BOTTOM: #e3e3e3 1px solid; POSITION: relative; HEIGHT: 2em
}
.topnav {
	COLOR: #666
}
.topnav A:link {
	COLOR: #666
}
.topnav A:visited {
	COLOR: #666
}
.topnav A:hover {
	COLOR: #036; TEXT-DECORATION: underline
}
.topnav A:active {
	COLOR: #036; TEXT-DECORATION: underline
}
.brand {
	FLOAT: left; MARGIN-RIGHT: 7px
}
.ad-banner {
	FLOAT: left; MARGIN-RIGHT: 7px
}
.ad-banner {
	OVERFLOW: hidden; WIDTH: 468px; HEIGHT: 60px
}
.ad-text {
	BORDER-RIGHT: #b0d7ff 1px solid; BORDER-TOP: #b0d7ff 1px solid; BACKGROUND: #f2f6fb; FLOAT: right; BORDER-LEFT: #b0d7ff 1px solid; WIDTH: 258px; LINE-HEIGHT: 1.6; BORDER-BOTTOM: #b0d7ff 1px solid; HEIGHT: 58px
}
.ad-text LI {
	FLOAT: left; WIDTH: 49.9%; TEXT-INDENT: 3px; WHITE-SPACE: nowrap
}
.brand H1.site-name {
	DISPLAY: none
}
.brand A IMG {
	DISPLAY: block
}
.nav {
	BACKGROUND: url(nav_bg.png) no-repeat 0px -36px; MARGIN: 0px 10px 10px; POSITION: relative
}
.navinner {
	BACKGROUND: url(nav_bg.png) no-repeat 100% -72px
}
.navlist {
	BACKGROUND: url(nav_bg.png) repeat-x 0px 0px; MARGIN: 0px 10px; OVERFLOW: hidden; LINE-HEIGHT: 36px; HEIGHT: 36px
}
.nav LI {
	PADDING-RIGHT: 4px; DISPLAY: inline; PADDING-LEFT: 6px; BACKGROUND: url(nav_bg.png) no-repeat 0px -108px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px -2px; PADDING-TOP: 0px
}
.nav A {
	DISPLAY: block; FONT-SIZE: 120%; WIDTH: 55px; TEXT-ALIGN: center
}
.nav A:link {
	COLOR: #fff
}
.nav A:visited {
	COLOR: #fff
}
.nav A.current {
	FONT-WEIGHT: bold; BACKGROUND: url(nav_bg.png) no-repeat 50% -144px; COLOR: #fff
}
.nav A:hover {
	FONT-WEIGHT: bold; BACKGROUND: url(nav_bg.png) no-repeat 50% -144px; COLOR: #fff
}
.nav A:active {
	FONT-WEIGHT: bold; BACKGROUND: url(nav_bg.png) no-repeat 50% -144px; COLOR: #fff
}
.subnav {
	BACKGROUND: url(nav_bg.png) no-repeat 0px -180px; LEFT: 0px; FLOAT: left; LINE-HEIGHT: 27px; WHITE-SPACE: nowrap; POSITION: absolute; TOP: 41px; HEIGHT: 27px
}
 HTML .subnav {
	MARGIN: 0px 10px 0px -10px
}
.subnav P {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(nav_bg.png) no-repeat 100% -234px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.subnav P SPAN {
	DISPLAY: block; BACKGROUND: url(nav_bg.png) repeat-x 0px -207px
}
.subnav P.pointer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(nav_bg.png) repeat-x 0px -261px; LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 20px; WIDTH: 11px; TEXT-INDENT: -999em; PADDING-TOP: 0px; POSITION: absolute; TOP: -4px; HEIGHT: 5px
}
.subnav A {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
UNKNOWN {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.subnav {
	COLOR: #235e99
}
.subnav A:link {
	COLOR: #235e99
}
.subnav A:visited {
	COLOR: #235e99
}
.subnav A:hover {
	COLOR: #235e99
}
.subnav A:active {
	COLOR: #235e99
}
.subnav A:hover {
	FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM: 2px solid
}
.subnav A:active {
	FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM: 2px solid
}
#subnav1 {
	LEFT: 0px
}
#subnav2 {
	LEFT: 50px
}
#subnav3 {
	LEFT: 100px
}
#subnav4 {
	LEFT: 150px
}
#subnav5 {
	LEFT: 200px
}
#subnav6 {
	LEFT: 260px
}
#subnav7 {
	LEFT: 330px
}
#subnav8 {
	LEFT: 430px
}
#subnav9 {
	RIGHT: 0px; LEFT: auto
}
#subnav10 {
	RIGHT: 0px; LEFT: auto
}
#subnav11 {
	RIGHT: 0px; LEFT: auto
}
#subnav12 {
	RIGHT: 0px; LEFT: auto
}
#subnav13 {
	RIGHT: 0px; LEFT: auto
}
#subnav14 {
	RIGHT: 0px; LEFT: auto
}
#subnav1 .pointer {
	LEFT: 15px
}
#subnav2 .pointer {
	LEFT: 30px
}
#subnav3 .pointer {
	LEFT: 45px
}
#subnav4 .pointer {
	LEFT: 55px
}
#subnav5 .pointer {
	LEFT: 70px
}
#subnav6 .pointer {
	LEFT: 70px
}
#subnav7 .pointer {
	LEFT: 70px
}
#subnav8 .pointer {
	LEFT: 35px
}
#subnav9 .pointer {
	RIGHT: 360px; LEFT: auto
}
#subnav10 .pointer {
	RIGHT: 290px; LEFT: auto
}
#subnav11 .pointer {
	RIGHT: 230px; LEFT: auto
}
#subnav12 .pointer {
	RIGHT: 170px; LEFT: auto
}
#subnav13 .pointer {
	RIGHT: 110px; LEFT: auto
}
#subnav14 .pointer {
	RIGHT: 30px; LEFT: auto
}
#subnav1 {
	min-width: 110px
}
#subnav2 {
	min-width: 110px
}
#subnav3 {
	min-width: 110px
}
#subnav4 {
	min-width: 110px
}
#subnav5 {
	min-width: 110px
}
#subnav6 {
	min-width: 110px
}
#subnav7 {
	min-width: 130px
}
#subnav8 {
	min-width: 130px
}
#subnav9 {
	min-width: 130px
}
#subnav10 {
	min-width: 130px
}
#subnav11 {
	min-width: 130px
}
#subnav12 {
	min-width: 130px
}
#subnav13 {
	min-width: 130px
}
#subnav14 {
	min-width: 130px
}
.note {
	MARGIN: 0px 15px 10px; COLOR: #666666
}
.note SPAN {
	FLOAT: right
}
.disable {
	DISPLAY: none
}
.wrap .ad-loop {
	BORDER-RIGHT: #99bbdd 1px solid; BORDER-TOP: #99bbdd 1px solid; MARGIN-BOTTOM: 10px; OVERFLOW: hidden; BORDER-LEFT: #99bbdd 1px solid; WIDTH: 278px; BORDER-BOTTOM: #99bbdd 1px solid; HEIGHT: 194px
}
.search {
	BORDER-RIGHT: #99bbdd 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #99bbdd 1px solid; PADDING-LEFT: 20px; BACKGROUND: #f5fafe; FLOAT: right; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #99bbdd 1px solid; WIDTH: 588px; PADDING-TOP: 7px; BORDER-BOTTOM: #99bbdd 1px solid; HEIGHT: 66px
}
.input {
	BORDER-RIGHT: #8fa6bc 1px solid; BORDER-TOP: #8fa6bc 1px solid; BORDER-LEFT: #8fa6bc 1px solid; WIDTH: 440px; LINE-HEIGHT: 20px; MARGIN-RIGHT: 15px; BORDER-BOTTOM: #8fa6bc 1px solid; HEIGHT: 20px
}
.input_pos {
	FLOAT: left
}
.hot_line {
	CLEAR: both; PADDING-TOP: 3px
}
.hot_line A:link {
	COLOR: #dd8700
}
.hot_line A:visited {
	COLOR: #dd8700
}
.hot_line A:hover {
	COLOR: #dd8700; TEXT-DECORATION: underline
}
.menu_1 {
	BACKGROUND: url(icon_1.gif) no-repeat; LEFT: 13px; MARGIN-BOTTOM: -1px; OVERFLOW: hidden; WIDTH: 7px; POSITION: relative; HEIGHT: 5px
}
.menu_2 {
	BACKGROUND: url(icon_1.gif) no-repeat; LEFT: 13px; MARGIN-BOTTOM: -1px; OVERFLOW: hidden; WIDTH: 7px; POSITION: relative; HEIGHT: 5px
}
.menu_3 {
	BACKGROUND: url(icon_1.gif) no-repeat; LEFT: 13px; MARGIN-BOTTOM: -1px; OVERFLOW: hidden; WIDTH: 7px; POSITION: relative; HEIGHT: 5px
}
.menu_4 {
	BACKGROUND: url(icon_1.gif) no-repeat; LEFT: 13px; MARGIN-BOTTOM: -1px; OVERFLOW: hidden; WIDTH: 7px; POSITION: relative; HEIGHT: 5px
}
.menu_5 {
	BACKGROUND: url(icon_1.gif) no-repeat; LEFT: 13px; MARGIN-BOTTOM: -1px; OVERFLOW: hidden; WIDTH: 7px; POSITION: relative; HEIGHT: 5px
}
.menu_6 {
	BACKGROUND: url(icon_1.gif) no-repeat; LEFT: 13px; MARGIN-BOTTOM: -1px; OVERFLOW: hidden; WIDTH: 7px; POSITION: relative; HEIGHT: 5px
}
.menu_7 {
	BACKGROUND: url(icon_1.gif) no-repeat; LEFT: 13px; MARGIN-BOTTOM: -1px; OVERFLOW: hidden; WIDTH: 7px; POSITION: relative; HEIGHT: 5px
}
.menu_8 {
	BACKGROUND: url(icon_1.gif) no-repeat; LEFT: 13px; MARGIN-BOTTOM: -1px; OVERFLOW: hidden; WIDTH: 7px; POSITION: relative; HEIGHT: 5px
}
.menu_9 {
	BACKGROUND: url(icon_1.gif) no-repeat; LEFT: 13px; MARGIN-BOTTOM: -1px; OVERFLOW: hidden; WIDTH: 7px; POSITION: relative; HEIGHT: 5px
}
.menu_10 {
	BACKGROUND: url(icon_1.gif) no-repeat; LEFT: 13px; MARGIN-BOTTOM: -1px; OVERFLOW: hidden; WIDTH: 7px; POSITION: relative; HEIGHT: 5px
}
.menu_2 {
	LEFT: 51px
}
.menu_3 {
	LEFT: 92px
}
.menu_4 {
	LEFT: 130px
}
.menu_5 {
	LEFT: 172px
}
.menu_6 {
	LEFT: 220px
}
.menu_7 {
	LEFT: 282px
}
.menu_8 {
	LEFT: 324px
}
.menu_9 {
	LEFT: 370px
}
.menu_10 {
	LEFT: 414px
}
.menu {
	WORD-SPACING: 0px; COLOR: #b1b1b1
}
.menu A:link {
	MARGIN: 0px 5px; COLOR: #b1b1b1
}
.menu A:visited {
	MARGIN: 0px 5px; COLOR: #b1b1b1
}
A.menu_gg:link {
	COLOR: #000
}
A.menu_gg:visited {
	COLOR: #000
}
.btn_sc {
	FONT-WEIGHT: bold; BACKGROUND: url(btn.gif); WIDTH: 76px; COLOR: #ffffff; BORDER-TOP-STYLE: none; LINE-HEIGHT: 23px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 23px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.topinfo {
	BACKGROUND: url(bg.png) no-repeat 0px -30px; MARGIN-BOTTOM: 10px; OVERFLOW: hidden; HEIGHT: 106px
}
.topinfo H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; MARGIN: 10px 75px 10px 15px; COLOR: #275c91; WHITE-SPACE: nowrap
}
.topinfo P {
	MARGIN: 0px 15px
}
.topinfo A:link {
	COLOR: #275c91
}
.topinfo A:visited {
	COLOR: #275c91
}
.wrap .recommendinfo {
	BORDER-RIGHT: #99bbdd 1px solid; BORDER-TOP: #99bbdd 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: #99bbdd 1px solid; WIDTH: 298px; BORDER-BOTTOM: #99bbdd 1px solid; HEIGHT: 104px
}
.recommendinfo H3 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 120%; BACKGROUND: #d7e7f7; FLOAT: left; MARGIN: 1px 5px 1px 1px; WIDTH: 30px; COLOR: #275c91; LINE-HEIGHT: 1.7; HEIGHT: 102px
}
.recommendinfo H3 SPAN {
	DISPLAY: block; MARGIN: 0px 5px; TEXT-ALIGN: center
}
.recommendinfo UL {
	FONT-SIZE: 120%; FLOAT: left; MARGIN: 3px 0px 0px; WIDTH: 250px; LINE-HEIGHT: 1.7
}
.recommendinfo LI {
	CLEAR: both
}
.recommendinfo .date {
	FONT-SIZE: 9px; FLOAT: right; COLOR: #999999; LINE-HEIGHT: 2
}
.sitemap {
	BORDER-RIGHT: #bed0e0 1px solid; BORDER-TOP: #bed0e0 1px solid; BACKGROUND: #eaf3fb; MARGIN: 0px 10px 10px; BORDER-LEFT: #bed0e0 1px solid; COLOR: #275c91; LINE-HEIGHT: 2.5; BORDER-BOTTOM: #bed0e0 1px solid; HEIGHT: 2.5em; TEXT-ALIGN: center
}
.sitemap A:link {
	COLOR: #275c91
}
.sitemap A:visited {
	COLOR: #275c91
}
.sitemap A:hover {
	COLOR: #275c91; TEXT-DECORATION: underline
}
.footer {
	PADDING-BOTTOM: 10px; MARGIN: 0px 10px 10px; TEXT-ALIGN: center
}
.copyright {
	COLOR: #000000; LINE-HEIGHT: 26px
}
.copyright A:link {
	COLOR: #000000; LINE-HEIGHT: 26px
}
.copyright A:visited {
	COLOR: #000000; LINE-HEIGHT: 26px
}
A:link {
	COLOR: #313131; TEXT-DECORATION: none
}
A:visited {
	COLOR: #313131; TEXT-DECORATION: none
}
A:hover {
	COLOR: #bf001f; TEXT-DECORATION: none
}
.weizhi {
	BORDER-RIGHT: #b0c7dd 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #b0c7dd 1px solid; PADDING-LEFT: 15px; BACKGROUND: #e1effb; PADDING-BOTTOM: 0px; MARGIN: 0px 10px 10px; BORDER-LEFT: #b0c7dd 1px solid; LINE-HEIGHT: 30px; PADDING-TOP: 0px; BORDER-BOTTOM: #b0c7dd 1px solid; POSITION: relative; HEIGHT: 30px
}
.weizhi SPAN {
	RIGHT: 10px; POSITION: absolute; TOP: 3px
}
.searchtxt {
	BORDER-RIGHT: #8fa6bc 1px solid; BORDER-TOP: #8fa6bc 1px solid; BORDER-LEFT: #8fa6bc 1px solid; LINE-HEIGHT: 16px; BORDER-BOTTOM: #8fa6bc 1px solid; HEIGHT: 16px
}
#news {
	BORDER-RIGHT: #99bbdd 1px solid; PADDING-RIGHT: 18px; BORDER-TOP: #99bbdd 1px solid; PADDING-LEFT: 18px; BACKGROUND: #f5faff; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 20px; BORDER-LEFT: #99bbdd 1px solid; COLOR: #4a4a4a; PADDING-TOP: 30px; BORDER-BOTTOM: #99bbdd 1px solid
}
A.v_red:link {
	COLOR: #bf001f; TEXT-DECORATION: none
}
A.v_red:visited {
	COLOR: #bf001f; TEXT-DECORATION: none
}
A.v_red:hover {
	COLOR: #bf001f; TEXT-DECORATION: underline
}
.ding_box {
	PADDING-RIGHT: 0px; PADDING-LEFT: 170px; PADDING-BOTTOM: 25px; PADDING-TOP: 0px; HEIGHT: 62px
}
.ding {
	DISPLAY: block; FLOAT: left; WIDTH: 58px; MARGIN-RIGHT: 100px; HEIGHT: 62px; TEXT-ALIGN: center
}
.ding_bg {
	BACKGROUND: url(ding_bg.gif)
}
.back_bg {
	BACKGROUND: url(back_bg.gif)
}
.ding B {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 20px; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px
}
.pagebreak {
	MARGIN-BOTTOM: 20px; LINE-HEIGHT: 25px; TEXT-ALIGN: center
}
.pagebreak A {
	MARGIN-LEFT: 15px
}
.pagebreak STRONG {
	MARGIN-LEFT: 15px
}
#news_sort {
	BORDER-RIGHT: #99bbdd 1px solid; BORDER-TOP: #99bbdd 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: #99bbdd 1px solid; WIDTH: 628px; COLOR: #4a4a4a; BORDER-BOTTOM: #99bbdd 1px solid
}
#news_sort .news_title {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(news_bg.gif) repeat-x; COLOR: #204e7d; LINE-HEIGHT: 28px; HEIGHT: 28px
}
#news_sort .news_title SPAN {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: right
}
#news_sort UL {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#news_sort UL LI {
	FONT-SIZE: 14px; LINE-HEIGHT: 23px
}
#news_sort UL LI SPAN {
	FONT-SIZE: 12px; FLOAT: right; COLOR: #aaaaaa
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 22px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #363737; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.content {
	FONT-SIZE: 14px; MARGIN: 15px 0px 35px; COLOR: #2a2a2a; LINE-HEIGHT: 25px
}
.content P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; TEXT-INDENT: 2em; PADDING-TOP: 5px
}
.times {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; COLOR: #666666; PADDING-TOP: 15px; BORDER-BOTTOM: #e1e4e6 1px solid; TEXT-ALIGN: center
}
.times IMG {
	MARGIN-BOTTOM: -4px; HEIGHT: 20px
}
.xg {
	PADDING-RIGHT: 5px; BORDER-TOP: #e1e4e6 1px solid; PADDING-LEFT: 5px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 24px; PADDING-TOP: 5px; BORDER-BOTTOM: #e1e4e6 1px solid; HEIGHT: 130px
}
.xg LI {
	FLOAT: left; WIDTH: 50%
}
.pl {
	BORDER-RIGHT: #dadcdd 1px solid; BORDER-TOP: #dadcdd 1px solid; BACKGROUND: #fff; MARGIN-BOTTOM: 15px; BORDER-LEFT: #dadcdd 1px solid; BORDER-BOTTOM: #dadcdd 1px solid
}
.pl_title {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(pl_bg.gif) repeat-x; LINE-HEIGHT: 30px; HEIGHT: 30px
}
.pl_title SPAN {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: right; COLOR: #949494
}
.pl_title B {
	COLOR: #e8581f
}
.pl_list {
	PADDING-LEFT: 5px; PADDING-BOTTOM: 10px; MARGIN: 15px 20px; LINE-HEIGHT: 25px; BORDER-BOTTOM: #e6e6e6 1px solid
}
.float_right {
	FLOAT: right
}
.float_left {
	FLOAT: left
}
.zz {
	COLOR: #204e7d
}
.btn {
	BORDER-RIGHT: #255789 1px solid; BORDER-TOP: #6499ce 1px solid; BACKGROUND: url(btn_bg.gif) #5d8bba repeat-x; BORDER-LEFT: #6499ce 1px solid; COLOR: #ffffff; LINE-HEIGHT: 22px; BORDER-BOTTOM: #255789 1px solid; HEIGHT: 22px; TEXT-ALIGN: center
}
.bor {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.news_list UL {
	MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 10px; BORDER-BOTTOM: #ccc 1px solid
}
.news_list UL .list_title {
	PADDING-LEFT: 23px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(list_title.gif) no-repeat 7px 7px; COLOR: #204e7d
}
.news_list UL .list_title SPAN {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: right; COLOR: #787878
}
.news_list UL .ot SPAN {
	MARGIN-RIGHT: 50px
}
.news_list UL .text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 13px; COLOR: #878787; TEXT-INDENT: 24px; LINE-HEIGHT: 23px; PADDING-TOP: 13px
}
.red {
	COLOR: #ff0000
}
.blue {
	COLOR: #1fa51c
}
.fsource {
	COLOR: #666
}
.news_list A:link {
	COLOR: #204e7d; TEXT-DECORATION: none
}
.news_list A:visited {
	COLOR: #204e7d; TEXT-DECORATION: none
}
.news_list A:hover {
	COLOR: #204e7d; TEXT-DECORATION: underline
}
.right_bot {
	MARGIN-BOTTOM: 10px
}
.right_box {
	BORDER-RIGHT: #99bbdd 1px solid; BORDER-TOP: #99bbdd 1px solid; BORDER-LEFT: #99bbdd 1px solid; BORDER-BOTTOM: #99bbdd 1px solid
}
.right_title {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #d7e7f7; COLOR: #313131; LINE-HEIGHT: 27px; BORDER-BOTTOM: #99bbdd 1px solid; HEIGHT: 27px
}
.right_box UL {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.right_box UL LI {
	LINE-HEIGHT: 25px
}
.line {
	MARGIN: 0px 10px 10px
}
.box_line .bv {
	MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 8px; BORDER-BOTTOM: #e8e8e8 1px solid
}
.box_line A {
	PADDING-LEFT: 10px; LINE-HEIGHT: 28px
}
.v-tab {
	DISPLAY: inline; FLOAT: left; MARGIN: -5px 1px -6px -5px; OVERFLOW: hidden; WIDTH: 71px
}
.infopublish UL.left_box LI {
	LINE-HEIGHT: 1.89
}
.v-tab LI {
	FLOAT: left
}
.v-tab LI A {
	BORDER-RIGHT: #7bce74 1px solid; BORDER-TOP: #7bce74 0px solid; BACKGROUND: #ebf7e9; FLOAT: left; BORDER-LEFT: #7bce74 0px solid; WIDTH: 70px; LINE-HEIGHT: 29px; BORDER-BOTTOM: #7bce74 1px solid; HEIGHT: 29px; TEXT-ALIGN: center
}
.v-tab LI A:link {
	COLOR: #2e7428
}
.v-tab LI A:visited {
	COLOR: #2e7428
}
.v-tab LI A.current {
	PADDING-RIGHT: 1px; FONT-WEIGHT: bold; BACKGROUND: #fff; BORDER-RIGHT-WIDTH: 0px
}
.v-tab LI A:hover {
	PADDING-RIGHT: 1px; FONT-WEIGHT: bold; BACKGROUND: #fff; BORDER-RIGHT-WIDTH: 0px
}
.v-tab LI A:active {
	PADDING-RIGHT: 1px; FONT-WEIGHT: bold; BACKGROUND: #fff; BORDER-RIGHT-WIDTH: 0px
}
.infopublish {
	BORDER-LEFT-COLOR: #7bce74; BORDER-BOTTOM-COLOR: #7bce74; BORDER-TOP-COLOR: #7bce74; BORDER-RIGHT-COLOR: #7bce74
}
.infopublish .box_title {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.infopublish .box_title H3 {
	BACKGROUND: url(nav.png) repeat-x 0px -390px; MARGIN: 1px 1px 0px; COLOR: #fff; LINE-HEIGHT: 30px; HEIGHT: 30px
}
.text_tag {
	BORDER-RIGHT: #cae5ff 1px dashed; PADDING-RIGHT: 10px; BORDER-TOP: #cae5ff 1px dashed; PADDING-LEFT: 10px; BACKGROUND: #ffffff; MARGIN: 10px auto; BORDER-LEFT: #cae5ff 1px dashed; WIDTH: 560px; BORDER-BOTTOM: #cae5ff 1px dashed; HEIGHT: 24px
}
.text_tag H5 {
	CLEAR: left; DISPLAY: block; FONT-SIZE: 12px; FLOAT: left; COLOR: #000000; PADDING-TOP: 3px
}
.text_tag SPAN {
	FLOAT: right; FONT: 12px/24px Tahoma
}
.pages {
	PADDING-RIGHT: 20px; PADDING-BOTTOM: 15px; TEXT-ALIGN: right
}
.pages A:link {
	BORDER-RIGHT: #d9d9d9 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d9d9d9 1px solid; DISPLAY: inline; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 0px 3px; BORDER-LEFT: #d9d9d9 1px solid; COLOR: #001a9f; PADDING-TOP: 2px; BORDER-BOTTOM: #d9d9d9 1px solid
}
.pages A:visited {
	BORDER-RIGHT: #d9d9d9 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d9d9d9 1px solid; DISPLAY: inline; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 0px 3px; BORDER-LEFT: #d9d9d9 1px solid; COLOR: #001a9f; PADDING-TOP: 2px; BORDER-BOTTOM: #d9d9d9 1px solid
}
.pages A:hover {
	BORDER-RIGHT: #8bccec 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #8bccec 1px solid; DISPLAY: inline; PADDING-LEFT: 5px; BACKGROUND: #e8f3fd; PADDING-BOTTOM: 2px; MARGIN: 0px 3px; BORDER-LEFT: #8bccec 1px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #8bccec 1px solid
}
.pages .click {
	BORDER-RIGHT: #ff831e 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ff831e 1px solid; DISPLAY: inline; PADDING-LEFT: 5px; BACKGROUND: #ffebd9; PADDING-BOTTOM: 2px; MARGIN: 0px 3px; BORDER-LEFT: #ff831e 1px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #ff831e 1px solid
}
.pl_list UL {
	BORDER-BOTTOM: #d7d7d7 1px dashed
}
.pl_list UL .title {
	MARGIN-TOP: 10px; COLOR: #1f0087
}
.pl_list UL .content {
	MARGIN: 10px; TEXT-INDENT: 2em
}
.pl_list UL .op {
	COLOR: #d7d7d7
}
.pl_list UL LI SPAN {
	FLOAT: right; COLOR: #d7d7d7
}
#zhan {
	FLOAT: left
}
#ad {
	FLOAT: left; WIDTH: 325px; HEIGHT: 288px
}
#new IMG {
	CLEAR: left
}
#new TABLE {
	CLEAR: left
}
#new {
	FLOAT: left
}
