body{
     font-size:12px;
     text-align:center;
     font-family: Verdana, Arial;
     padding:0; 
	  margin:0; 
	  background:url(images/bg.gif) repeat-x #000; 
	  color:#A5A5A4;
	  }
	 
img {
     max-width: 100%;height: auto;
	 }
	 
select{
     font-family: Verdana, Arial
	 }
	 
th  {    
     background:#f5f5f1;
	 }
	 
 html{
     scrollbar-arrow-color: #000;
     scrollbar-face-color: #555555;
     scrollbar-3dlight-color: #555555; 
     scrollbar-highlight-color: ##555555;  
     scrollbar-shadow-color: #181818; 
     scrollbar-darkshadow-color: #555555; 
     scrollbar-track-color: #000;  
     scrollbar-base-color:#555555; 
	 overflow-x:hidden;
     overflow-y:scroll
	 }
