<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>公司简介-电子科技公司</title>
<meta content="" name=keywords />
<meta content="" name=description />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/form.js"></script>
<script type="text/javascript" src="js/blockui.js"></script>
<!-reload-!>
</head>
<body style='background:transparent'>
<script>
    var PDV_PAGEID = '312';
    var PDV_RP = '../../';
    var PDV_COLTYPE = 'page';
    var PDV_PAGENAME = 'html_company'; 
</script>
 
<div id='contain' style='width:1002px;background:url(images/1262661247.gif) repeat-y left top;margin:0px auto;padding:0px'>
 
<div id='top' style='width:1002px;height:328px;background:url(images/1262918621.gif)'>
 
 
<!-- 自定义透明FLASH -->
 
<div id='pdv_13096' class='pdv_class'  title='' style='width:1002px;height:175px;top:101px;left:0px; z-index:2'>
<div id='spdv_13096' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="100%" height="100%">
 <param name="movie" value="swf/1271061628.swf" />
 <param name="quality" value="high" />
 <param name="wmode" value="transparent" />
 <embed src="swf/1271061628.swf" wmode="transparent" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="1002" height="175"></embed>
</object>
 
</div>
</div>
 
</div>
</div>
 
<!-- 图片/FLASH -->
 
<div id='pdv_13094' class='pdv_class'  title='' style='width:1002px;height:101px;top:0px;left:0px; z-index:3'>
<div id='spdv_13094' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<img src="images/1274144644.jpg" border="0" width="100%" />
 
</div>
</div>
 
</div>
</div>
 
<!-- 一级导航菜单 -->
 
<div id='pdv_13090' class='pdv_class'   style='width:881px;height:50px;top:276px;left:0px; z-index:4'>
<div id='spdv_13090' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		导航菜单
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
<link href="css/A.css" rel="stylesheet" type="text/css" />
<div id="menumain">
<div class="menuright"></div>
<div class="mainmenuiner">
 
<a href="../../index.php" target="_self" class="menumain">网站首页</a>
 
<a href="../../page/html/company.php" target="_self" class="menumain">公司简介</a>
 
<a href="../../news/class/" target="_self" class="menumain">新闻动态</a>
 
<a href="../../product/class" target="_self" class="menumain">产品展示</a>
 
<a href="../../down/class/" target="_self" class="menumain">下载专区</a>
 
<a href="../../page/support/support.php" target="_self" class="menumain">技术支持</a>
 
<a href="../../job/index.php" target="_self" class="menumain">人才招聘</a>
 
<a href="../../page/contact/contact.php" target="_self" class="menumain">联系我们</a>
 
</div>
</div>
 
</div>
</div>
 
</div>
</div>
 
<!-- 网站标志 -->
 
<div id='pdv_13091' class='pdv_class'  title='' style='width:425px;height:70px;top:31px;left:0px; z-index:7'>
<div id='spdv_13091' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<img src="images/1274145897.jpg" border="0" />
 
 
</div>
</div>
 
</div>
</div>
 
<!-- 设为首页加入收藏 -->
 
<div id='pdv_13100' class='pdv_class'   style='width:242px;height:30px;top:10px;left:760px; z-index:9'>
<div id='spdv_13100' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		设为首页加入收藏
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
<div style="height:40px">
	<img src="images/home.jpg" border="0" style="margin:0px 2px 0px 0px;vertical-align:middle;" />
	<a href="http://www.2799.cn/1274496457/" style="color:#e7ebed;padding-right:4px;font:12px/22px Simsun;" onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.2799.cn/1274496457/'); return(false);">设为首页</a>
	<img src="images/bookmark.jpg" border="0" style="margin:0px 2px 0px 1px;vertical-align:middle;" />
<a href="http://www.2799.cn/1274496457/" style="color:#e7ebed;padding-right:4px;font:12px/22px Simsun;" onClick="window.external.addFavorite('http://www.2799.cn/1274496457/','电子科技公司'); return(false);">加入收藏</a>
	<img src="images/mail.jpg" border="0" style="margin:0px 2px 0px 1px;vertical-align:middle;" />
<a href="mailto:boss@mail.com" style="color:#e7ebed;padding-right:0px;font:12px/22px Simsun;">联系我们</a>
</div>
 
 
</div>
</div>
 
</div>
</div>
 
<!-- 图片/FLASH -->
 
<div id='pdv_13102' class='pdv_class'  title='' style='width:121px;height:50px;top:276px;left:881px; z-index:10'>
<div id='spdv_13102' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<img src="images/1274146788.jpg" border="0" width="100%" />
 
</div>
</div>
 
</div>
</div>
</div>

<div id='bottom' style='width:1002px;height:119px;background:none transparent scroll repeat 0% 0%'>
 
 
<!-- 图片/FLASH -->
 
<div id='pdv_13095' class='pdv_class'  title='' style='width:1002px;height:82px;top:0px;left:0px; z-index:5'>
<div id='spdv_13095' class='pdv_bottom' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<img src="images/1274162140.jpg" border="0" width="100%" />
 
</div>
</div>
 
</div>
</div>
 
<!-- 底部菜单（一级） -->
 
<div id='pdv_13101' class='pdv_class'   style='width:395px;height:20px;top:26px;left:305px; z-index:6'>
<div id='spdv_13101' class='pdv_bottom' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		脚注栏目
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
<link href="css/foot.css" rel="stylesheet" type="text/css" />
<div id="bottommenu">
 
<a href="../../page/html/company.php" target="_self">关于我们</a>|
 
<a href="../../page/contact/contact.php" target="_self">联系方式</a>|
 
<a href="../../page/contact/feedback.php" target="_self">信息反馈</a>|
 
<a href="../../page/contact/advise.php" target="_self">投诉建议</a>|
 
<a href="../../job/index.php" target="_self">诚聘英才</a>|
 
<a href="../../advs/link/" target="_self">友情链接</a>|
 
</div>
 
 
</div>
</div>
 
</div>
</div>
 
<!-- 底部信息编辑区 -->
 
<div id='pdv_13097' class='pdv_class'  title='脚注信息' style='width:1001px;height:43px;top:74px;left:1px; z-index:8'>
<div id='spdv_13097' class='pdv_bottom' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		脚注信息
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
<div style="width:100%;text-align:center;font:12px/20px Arial, Helvetica, sans-serif">
<div style="MARGIN: 0px; COLOR: #5c5c5c; LINE-HEIGHT: 24px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center">版权所有 Copyright(C)2009-2010 杭州某电子科技公司</div>
</div>
 
</div>
</div>
 
</div>
</div>
</div>
</div><div id='bodyex'>
 
</div>
 
</body>
</html>

