<div id='content' style='width:1002px; margin-top:-100px; background:url({#Data*URL#}images/cbg.jpg);margin:0px auto'>
 <script language="javascript" type="text/javascript"> 
<!--     //--><![CDATA[//><!--
     var scrollPic_03 = new ScrollPic();
     scrollPic_03.scrollContId = "ISL_Cont_11"; //内容容器ID
     scrollPic_03.arrLeftId = "LeftArr1"; //左箭头ID
     scrollPic_03.arrRightId = "RightArr1"; //右箭头ID

     scrollPic_03.frameWidth = 471; //显示框宽度
     scrollPic_03.pageWidth = 159; //翻页宽度

     scrollPic_03.speed = 10; //移动速度(单位毫秒，越小越快)
     scrollPic_03.space = 10; //每次移动像素(单位px，越大越快)
     scrollPic_03.autoPlay = true; //自动播放
     scrollPic_03.autoPlayTime = 3; //自动播放间隔时间(秒)

     scrollPic_03.initialize(); //初始化

     //--><!]]>
</script>
 
<!-- 图片/FLASH -->
 
<div   title='' style='height:10px; overflow:hidden;'>
<div id='spdv_13078' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
<img src="{#Data*URL#}images/1274149381.jpg" border="0" width="100%" />
</div>
</div>
 
</div>
</div>
 

 <!-- 文章列表 -->


 
<!-- 产品分类（列表） -->
 <div style="width:195px;  float:left; margin-right:10px;">
<div id='spdv_12539' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:37px;border:0px;padding:0;margin:0;background:url({#Data*URL#}images/left_title.jpg) 0px 0px no-repeat;">
	<div style="float:right;width:10px;height:37px;background:url({#Data*URL#}images/left_title.jpg) -890px 0px no-repeat;"></div>
</div>
<div style="margin:0px;padding:0px;"  class="font_style">
 
<link href="{#Data*URL#}css/productclass_dolphin.css" rel="stylesheet" type="text/css" />
<div class="productclass_dolphin">
{#Data*ProductTitleList#}
</div>
 
</div>
</div>
</div>
 
</div>
</div>

<!-- 公司简界 -->
 <div style=" float:right;">
<div  style=" margin-bottom :40px; margin-top:20px;">
<div id='spdv_12543' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:26px;background:url({#Data*URL#}images/About.gif) 0px 0px no-repeat;">
	<div style="float:right;width:38px;height:26px;background:url({#Data*URL#}images/About.gif) -862px 0px no-repeat;">
	<a href="About.aspx" style="display:inline"><img src="{#Data*URL#}images/more.jpg" style="border:0px;padding:3px 0px 0px 0px;" /></a></div>
</div>
<div style="margin:0px;padding:0px;font-size:12px;"  class="font_style">
<div style="PADDING-TOP: 2px; line-height:20px;" class='ellipsis'>
<div style=" float:left; width:550px; padding:10px; line-height:20px;">{#Data*About#}</div>
<div style=" float:right; "><img src="{#Data*URL#}images/hx.gif" border="0" width="200" height="100" /></div>
</div>
</div>
</div>
</div>
 </div>
</div>

<div style=" float:left; width:250px; margin-right:20px;">
<div id='spdv_10810' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:26px;border:0px;padding:0;margin:0;background:url({#Data*URL#}images/Example.gif) 0px 0px no-repeat;">
	<div style="float:right;width:38px;height:26px;background:url({#Data*URL#}images/Example.gif) -862px 0px no-repeat;">
	<a href="Example.aspx?type=cls" style="display:inline"><img src="{#Data*URL#}images/more.jpg" style="border:0px;padding:3px 0px 0px 0px;" /></a></div>
</div>
<div style="margin:0px;padding:0px;" class="font_style">
 
<link href="{#Data*URL#}css/newslist.css" rel="stylesheet" type="text/css" />
<ul class="newslist">
  {#Data*Example#}

</ul>
 
</div>
</div>
</div>
 </div>
 
</div>
<script>
     $(function () {
         $().picFit("auto");
     });
</script>

<!-- 文章列表 -->
 
<div style=" float:left;width:250px; margin-right:20px;">
<div  style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:26px;border:0px;padding:0;margin:0;background:url({#Data*URL#}images/Culture.gif) 0px 0px no-repeat;">
	<div style="float:right;width:38px;height:26px;background:url({#Data*URL#}images/Culture.gif) -862px 0px no-repeat;">
	<a href="Culture.aspx?type=cls" style="display:inline"><img src="{#Data*URL#}images/more.jpg" style="border:0px;padding:3px 0px 0px 0px;" /></a></div>
</div>
<div style="margin:0px;padding:0px;" class="font_style">
<link href="{#Data*URL#}css/newslist.css" rel="stylesheet" type="text/css" />
<ul class="newslist">
{#Data*Culture#}
</ul>
 
</div>
</div>
</div>
 </div>
</div>
 
<!-- HTML编辑区 -->
 
 <div style=" float:right;">
<div  style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:26px;border:0px;padding:0;margin:0;background:url({#Data*URL#}images/Contact.gif) 0px 0px no-repeat;">
	<div style="float:right;width:38px;height:26px;background:url({#Data*URL#}images/Contact.gif) -862px 0px no-repeat;"></div>
</div>
<div style="padding:10px;"  class="font_style">
<div style=" float:left;width:200px; line-height:20px;">{#Data*Contact#}</div><div style=" float:right;"><img src="{#Data*URL#}images/1274161784.jpg" border="0" width="100%" /></div>
</div>
</div>
</div>
 
</div>
</div>
 </div>

</div>