<script type="text/javascript">
    var PDV_PAGEID = '1';
    var PDV_RP = '';
    var PDV_COLTYPE = 'index';
    var PDV_PAGENAME = 'index'; 
</script>
 
<div id='contain' style='width:1002px;background:url({#Data*URL#}images/1262661247.gif) repeat-y left top;margin:0px auto;padding:0px'>
 
<div id='top' style='width:1002px;height:328px;background:url({#Data*URL#}images/1262918621.gif)'>
 
 
<!-- 自定义透明FLASH -->
 
<div id='pdv_12535' class='pdv_class'  title='' style='width:1002px;height:175px;top:101px;left:0px; z-index:2'>
<div id='spdv_12535' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="100%" height="100%">
 <param name="movie" value="{#Data*URL#}swf/1271061628.swf" />
 <param name="quality" value="high" />
 <param name="wmode" value="transparent" />
 <embed src="{#Data*URL#}swf/1271061628.swf" wmode="transparent" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="1002" height="175"></embed>
</object>
 
</div>
</div>
 
</div>
</div>
 
<!-- 图片/FLASH -->
 
<div id='pdv_12534' class='pdv_class'  title='' style='width:1002px;height:101px;top:0px;left:0px; z-index:3'>
<div id='spdv_12534' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<img src="{#Data*URL#}images/1274144644.jpg" border="0" width="100%" />
 
</div>
</div>
 
</div>
</div>
 
<!-- 一级导航菜单 -->
 
<div id='pdv_10994' class='pdv_class'   style='width:881px;height:50px;top:276px;left:0px; z-index:4'>
<div id='spdv_10994' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		导航菜单
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
<link href="{#Data*URL#}css/A.css" rel="stylesheet" type="text/css" />
<div id="menumain">
<div class="menuright"></div>
<div class="mainmenuiner">
 
<a href="Default.aspx" target="_self" class="menumain">网站首页</a>
 
<a href="About.aspx" target="_self" class="menumain">公司简介</a>
 
<a href="Product.aspx" target="_self" class="menumain">产品中心</a>
 
<a href="Culture.aspx?type=cls" target="_self" class="menumain">企业文化</a>
 
<a href="Example.aspx?type=cls" target="_self" class="menumain">方案与案例</a>
 
<a href="Contact.aspx" target="_self" class="menumain">联系我们</a>
 

 
</div>
</div>
 
</div>
</div>
 
</div>
</div>
 
<!-- 网站标志 -->
 
<div id='pdv_10806' class='pdv_class'  title='' style='width:425px;height:70px;top:31px;left:0px; z-index:7'>
<div id='spdv_10806' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<div class="company_title">宁德市华信软件有限公司</div>
 
 
</div>
</div>
 
</div>
</div>
 
<!-- 设为首页加入收藏 -->
 
<div id='pdv_12536' class='pdv_class'   style='width:242px;height:30px;top:10px;left:760px; z-index:10'>
<div id='spdv_12536' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		设为首页加入收藏
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
<div style="height:40px">
	<img src="{#Data*URL#}images/home.jpg" border="0" style="margin:0px 2px 0px 0px;vertical-align:middle;" />
	<a href="http://www.2799.cn/1274496457/" style="color:#e7ebed;padding-right:4px;font:12px/22px Simsun;" onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.2799.cn/1274496457/'); return(false);">设为首页</a>
	<img src="{#Data*URL#}images/bookmark.jpg" border="0" style="margin:0px 2px 0px 1px;vertical-align:middle;" />
<a href="http://www.2799.cn/1274496457/" style="color:#e7ebed;padding-right:4px;font:12px/22px Simsun;" onClick="window.external.addFavorite('http://www.2799.cn/1274496457/','电子科技公司'); return(false);">加入收藏</a>
	<img src="{#Data*URL#}images/mail.jpg" border="0" style="margin:0px 2px 0px 1px;vertical-align:middle;" />
<a href="mailto:boss@mail.com" style="color:#e7ebed;padding-right:0px;font:12px/22px Simsun;">联系我们</a>
</div>
 
 
</div>
</div>
 
</div>
</div>
 
<!-- 图片/FLASH -->
 
<div id='pdv_13077' class='pdv_class'  title='' style='width:121px;height:50px;top:276px;left:881px; z-index:16'>
<div id='spdv_13077' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<img src="{#Data*URL#}images/1274146788.jpg" border="0" width="100%" />
 
</div>
</div>
 
</div>
</div>
</div>
<div id='content' style='width:1002px;height:557px;background:url({#Data*URL#}images/cbg.jpg);margin:0px auto'>
 
 
<!-- 图片/FLASH -->
 
<div id='pdv_13078' class='pdv_class'  title='' style='width:807px;height:26px;top:0px;left:195px; z-index:1'>
<div id='spdv_13078' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<img src="{#Data*URL#}images/1274149381.jpg" border="0" width="100%" />
 
</div>
</div>
 
</div>
</div>