<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta content="" name="keywords" />
<meta content="" name="description" />
<link href="{#Data*URL#}css/common.css" rel="stylesheet" type="text/css" />
<link href="css/datapager.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{#Data*URL#}js/base.js"></script>
<script type="text/javascript" src="{#Data*URL#}js/common.js"></script>
<script type="text/javascript" src="{#Data*URL#}js/form.js"></script>
<script type="text/javascript" src="{#Data*URL#}js/blockui.js"></script>
<!-reload-!>
<style  type="text/css">
.ellipsis a{display: block;width: 300px;overflow: hidden;white-space: nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;}  
/* firefox only */  
.ellipsis:not(p) {clear: both;}  
.ellipsis:not(p) a {max-width: 300px;float: left;}  
.ellipsis:not(p):after {content: "...";float: left;width: 25px;padding-left: 1px;}  

.font_style{ font-size:12px; font-family:新宋体;  color:Black;}
.company_title{ padding:10px; font-size:30px; color:White; letter-spacing:2px; font-weight:700}
</style>
